$tab-border-radius: 2rem;

.survey-results-tabs.tabs-container {
  width: 100%;
  margin-top: 2rem;
  margin: 0 auto;

  .tabs-menu {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #12181f;
    padding: 0.5rem;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 3.5rem;
    border-radius: $tab-border-radius;
    // box-shadow: 0 0 1px 0 rgba($off-black, 0.10), 0 6px 8px px rgba($off-black, 0.20);

    .slider {
      position: absolute;

      border-radius: $tab-border-radius;
      height: 2.5rem;
      background-color: #333;
      box-shadow: 0 0 1px 0 rgba(#fff, 0.8), 0 6px 8px px rgba(#fff, 0.8);
      width: calc(50% - 0.5rem);
      transition: left 0.3s ease;
    }
  }

  // Tab content
  .tab-content {
    display: none;
    padding: 1rem 1rem;
    padding-bottom: 0;

    > :last-child {
      margin-bottom: 0;
    }
  }

  .tab-content.active {
    display: block;
  }

  // Individual tabs
  .tab-button {
    display: flex;
    width: 50%;
    align-items: center;
    cursor: pointer;
    border-radius: $tab-border-radius;
    height: 2.5rem;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: transparent;

    p {
      margin: auto;
      width: 100%;
      text-align: center;
      font-weight: 400;
      color: #e9e9e9;
      font-size: 1.2rem;
      z-index: 2;
    }

    &.active {
      p {
        color: white;
        font-weight: 500;
        margin: auto 0;
      }
    }

    &:hover {
      p {
        color: white;
        font-weight: 500;
        margin: auto 0;
      }
    }
  }

  .total-satisfaction-method {
    margin-top: 2rem;
  }
}

// Tab content
.tab-subheading {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 130%;
  color: $black;
  font-size: 1.3rem;
  text-decoration: none;
}

.total-satisfaction-method {
  border: 1px solid var(--medium-light-grey);
  padding: 16px;
  margin: auto;
  color: $dark-grey;

  p:first-child {
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    font-weight: 500;
  }

  p:last-child {
    margin-bottom: 0;
    font-size: 1rem;
  }
}
