// Default

// Colors
$bg-grey: #f0f0f0;
$black: #1e1e1e;
$dark-grey: #565656;
$emphasis-blue: #4479df;
$emphasis: #e2583e;
$grey: #999999;
$invalid-red: #dc1d25;
$light-blue: #dee3f4;
$light-grey: #f0f0f0;
$lightest-grey: #f9f9f9;
$medium-grey: #757575;
$medium-light-grey: #dbdbdb;
$off-black: #4a4a4a;
$primary-bg: #ffdc93;
$pure-black: #000;
$red-orange: #e2583e;
$sub-grey: #cfcfcf;
$tan: #decdbd;
$teal: #45b5aa;
$yellow: #f0c05a;

// Containers
$wireframe-max-height: 40rem;
$container-width: 90%;
$content-mb: 2rem;
$content-max-width: 45rem;
$outline-stroke: 1.25px;

// Type
$main-font: 'Inter';

$fixed-shadow: -1px -1px 2px rgba(49, 49, 49, 0.05),
	1px 1px 2px rgba(0, 0, 0, 0.5), inset -1px -1px 3px rgba(0, 0, 0, 0.05),
	inset 1px 1px 2px rgba(255, 255, 255, 0.05);
$border-style: 1px solid #e4ebf3;
