/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Accordion/Accordion.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Accordion_container__OV506 {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 1rem 1.25rem;
  border: 0;
  margin-top: 0.5rem;
}
.Accordion_container__OV506 button {
  width: 100%;
}
.Accordion_container__OV506 button:hover p {
  color: #dbdbdb;
}

.Accordion_header__d_v7I {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #1f1f1f;
}

.Accordion_label__usBt8 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
  margin: 0;
  flex: 1;
  color: white;
}

.Accordion_icon__cNiYt {
  transition: transform 0.4s;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
}

.Accordion_content__il9x9 {
  transition: max-height 0.2s ease-out;
}
.Accordion_content__il9x9 p {
  margin-top: 0.5rem;
  color: white;
  text-align: left;
}
.Accordion_content__il9x9 p:last-child {
  margin-bottom: 0.25rem;
}

.Accordion_rotate__jIhRz {
  transform: rotate(-180deg);
}
