.teal {
	color: $teal !important;
}
.yellow {
	color: $yellow !important;
}
.red-orange {
	color: $red-orange !important;
}
.tan {
	color: $tan !important;
}
.dark-grey {
	color: $dark-grey !important;
}
.off-black {
	color: $off-black !important;
}
.emphasis-blue {
	color: $emphasis-blue !important;
}
.medium-grey {
	color: $medium-grey !important;
}
.lightest-grey {
	color: $lightest-grey !important;
}
.invalid-red {
	color: $invalid-red !important;
}
.medium-light-grey {
	color: $medium-light-grey !important;
}
.light-grey {
	color: $light-grey !important;
}
.light-blue {
	color: $light-blue !important;
}

.link-blue {
	color: #0281e3;
}

.black {
	color: $black !important;
}
.sub-grey {
	color: $sub-grey !important;
}
.emphasis {
	color: $emphasis !important;
}

// Background colors

.bg- {
	&light-blue {
		background-color: var(--light-blue) !important;
	}

	&light-grey {
		background-color: $light-grey !important;
	}

	&lightest-grey {
		background-color: $lightest-grey !important;
	}

	&transparent {
		background-color: transparent !important;
	}

	&medium-grey {
		background-color: $medium-grey !important;
	}

	&medium-light-grey {
		background-color: $medium-light-grey !important;
	}

	&dark-grey {
		background-color: $dark-grey !important;
	}
}

// Colors - greyscale
.white {
	color: #ffffff !important;
}

.pure-black {
	color: $pure-black !important;
}

.black {
	color: $black !important;
}

.off-black {
	color: $off-black !important;
}

.dark-grey {
	color: $dark-grey !important;
}

.medium-grey {
	color: $medium-grey !important;
}

.medium-light-grey {
	color: $medium-light-grey !important;
}

.light-grey {
	color: $light-grey !important;
}

.lightest-grey {
	color: $lightest-grey !important;
}

.sub-grey {
	color: $sub-grey !important;
}

// Colors
.emphasis-blue {
	color: $emphasis-blue !important;
}

.invalid-red {
	color: $invalid-red !important;
}

.light-blue {
	color: $light-blue !important;
}

.emphasis {
	color: $emphasis !important;
}

.primary-bg {
	color: $primary-bg !important;
}

.primary-color {
	color: $primary-color !important;
}

// Background colors
.bg- {
	&light-blue {
		background-color: $light-blue !important;
	}

	&lightest-grey {
		background-color: $lightest-grey !important;
	}

	&dark-grey {
		background-color: $dark-grey !important;
	}

	&off-black {
		background-color: $off-black !important;
	}

	&black {
		background-color: $black !important;
	}
}

// Tools app shadow

.iconSize {
	&-xxs {
		width: 20px;
		height: 20px;
	}

	&-xs {
		width: 24px;
		height: 24px;
	}

	&-sm {
		width: 32px;
		height: 32px;
	}

	&-med {
		width: 40px;
		height: 40px;
	}

	&-lg {
		width: 64px;
		height: 64px;
	}

	&-xl {
		width: 80px;
		height: 80px;
	}
}
