.teal {
  color: $teal;
}
.yellow {
  color: $yellow;
}
.red-orange {
  color: $red-orange;
}
.tan {
  color: $tan;
}
.dark-grey {
  color: $dark-grey;
}
.off-black {
  color: $off-black;
}
.emphasis-blue {
  color: $emphasis-blue;
}
.medium-grey {
  color: $medium-grey;
}
.lightest-grey {
  color: $lightest-grey;
}
.invalid-red {
  color: $invalid-red;
}
.medium-light-grey {
  color: $medium-light-grey;
}
.light-grey {
  color: $light-grey;
}
.light-blue {
  color: $light-blue;
}
.black {
  color: $black;
}
.sub-grey {
  color: $sub-grey;
}
.emphasis {
  color: $emphasis;
}

// Background colors

.bg- {
  &light-blue {
    background-color: var(--light-blue);
  }

  &light-grey {
    background-color: $light-grey;
  }
  &lightest-grey {
    background-color: $lightest-grey;
  }
}
