// 

.self-center {
    align-self: center;
}

.justify-self-center {
    justify-self: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-items: center;
    justify-content: center;
}
