// 

.self-center {
    align-self: center;
}

.justify-self-center {
    justify-self: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.img-100 {
  max-width: none;
  width: 100%;
}

.img-width-1200 {
    width: 90%;
    max-width: 1200px;
  }