.self-center {
    align-self: center;
}

.space-between {
    justify-content: space-between;
}

.justify-self-center {
    justify-self: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.items-center {
    align-items: center;
    justify-content: center;
}

.ic-arrow_jump-to-section {
    vertical-align: baseline;
    transform: rotate(90deg) translateX(5px);
}

.scroll-button {
    cursor: pointer;
    font-size: 1.125rem;
    background-color: transparent; // Removes background color
    text-decoration: none; // Removes underline
    color: #0281E3; // Link colors inherit from parent
    border: 0;
    margin: 0;
    padding: 0;
}