.flex {
  flex-flow: wrap;
  flex: 1;
  justify-content: space-between;
}

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-col {
    flex-direction: column;
  }

  &-col-reverse {
    flex-direction: column-reverse;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &-nowwrap {
    flex-wrap: nowrap;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row($justify: flex-start, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}


.flex-block {
  align-items: center;
}

.flex.horizontal._16px,
.flex.vertical._16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.flex.horizontal._24-px,
.flex.vertical._24-px {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 0 auto;
  justify-content: space-between;
  display: flex;
}

.flex.horizontal._40-px {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.flex.horizontal._64-px {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
}

.flex.column-gap-8px {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.flex.vertical._16px,
.flex.vertical._24-px {
  background-color: var(--transparent);
  border-radius: 15px;
  margin-top: 0;
}

.flex.vertical._16px.grow,
.flex.vertical._24-px.shrink {
  flex: 1;
  justify-content: flex-start;
  align-self: stretch;
  width: 100%;
}

.flex.vertical._16px.grow.sample {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.flex.vertical._4px,
.flex.vertical._8px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex: 1;
  align-self: stretch;
  align-items: stretch;
}

.flex.vertical._4px.align-top,
.flex.vertical._8px.align-top {
  align-self: flex-start;
}

.flex.vertical._24-px.align-top {
  align-self: flex-start;
}

.flex.vertical._16px.align-top._50 {
  min-width: 0%;
}

.flex.vertical._40px {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.flex.vertical.width-auto {
  flex: 0 auto;
  align-items: center;
  width: auto;
  min-width: 112px;
  max-width: 112px;
}

.flex.gap-24px,
.flex.column-gap-0,
.flex.research-strategy {
  display: flex;
  justify-content: center;
}

.flex.gap-24px {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.flex.column-gap-0 {
  grid-column-gap: 0;
  grid-row-gap: 0;
  flex-direction: column;
}

.flex.research-strategy {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
}

.flex._8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: nowrap;
  align-items: stretch;
}

.flex._8px.wrap {
  border-style: dashed dashed dashed solid;
  border-width: 0;
  border-color: var(--blue-accent);
  background-color: var(--light-blue);
  flex-wrap: wrap;
}

.flex.border-bottom {
  border-bottom: 1px solid #000;
  max-width: none;
}
