.design-walkthrough_grid-1-col {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	row-gap: 1rem;

	video {
		max-width: 10rem;
	}

	p:nth-child(2) {
		margin-bottom: 0;
	}
}
