.design-walkthrough_wrapper {
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid $medium-light-grey;

	&.border-0 {
		border: 0;
	}

	header {
		// border-bottom: 1px solid $dark-grey;
		margin: 0;
		margin-bottom: 1rem;
	}
	> .subheading {
		margin-bottom: 1rem;
		font-size: 1.35rem;
		font-weight: 500;
	}
	// Grid container with Gif and 'Features' Card
	.design-walkthrough_grid-container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		column-gap: 2rem;
		row-gap: 1rem;
		// align-items: center;
		grid-template-areas: 'a b';
		margin-bottom: 2rem;

		> .design-walkthrough_gif {
			grid-area: b;
		}

		> video {
			width: 100%;
		}

		> div {
			grid-area: a;
			// padding: 1.5rem 2rem 1.5rem 3rem;
			// border-radius: 0.25rem;
			// height: fit-content;
			// background-color: $light-grey;

			.design-walkthrough_card {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 0.5rem;
				padding: 1.5rem 3rem;
				border-radius: 0.25rem;
				height: fit-content;
				background-color: $lightest-grey;
				border-left: 0.5rem solid $emphasis-blue;
				margin-top: 1.5rem;
				max-width: 25rem;
			}
			.card_list {
				align-self: start;

				.card_headline {
					color: $emphasis-blue;
					font-weight: 500;
					margin-bottom: 0;
					font-size: 1.25rem;
				}

				li {
					font-size: 1.125rem;
				}
			}
		}
	}
}

.design-walkthrough_content {
	ol {
		margin: 0;
		font-weight: 500;

		li {
			color: $black !important;

			p:first-child {
				@extend .subheading;
			}
		}
	}

	.subheading {
		font-size: 1.125rem;
	}
}

.design-walkthrough_gif {
	border: 1px solid $black;

	&.low-fidelity {
		border-radius: 1rem;
		border: 1.5px solid $off-black;
	}
}
