.img-branding-colors {
	width: 100%;
}

.img-branding-typography {
	width: 25rem;
}

.img-branding-buttons {
	width: 25rem;
}

.img-branding-badges {
	width: 6rem;
}

.img-branding-search-bar {
	width: 20rem;
}

.img-branding-8-point-grid {
	width: 40rem;
}

.style-guide-flex-container {
	@include flex(row, 4rem);
	// background-color: $light-grey;
	border: 1px solid $medium-light-grey;
	padding: 2rem;
	width: fit-content;

	> div > p {
		-webkit-text-size-adjust: 100%;
		margin-top: 0;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 130%;
		font-size: 1.125rem;
		text-transform: none;
		margin-bottom: 1.5rem !important;
		color: $black;
	}

	.button-styles_wrapper {
		width: 100%;
	}
}

.color-palette {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 1rem;
	width: fit-content;
}

.button-style {
	@include flex(row, 2rem, space-between, center);
	width: 100%;

	p {
		margin-bottom: 0;
	}

	img {
		height: 2.5rem;
		width: auto;
	}

	.small-secondary {
		height: 1rem;
	}
}

.branding-color-swatch {
	text-align: center;
	width: 9rem;
	border-radius: 0.25rem;

	> div {
		border-radius: 0 0 0.25rem 0.25rem;
		border: 2px solid $light-grey;
		border-top: 0;
		padding: 0.5rem 0;
		background-color: #fff;

		p {
			font-size: 0.889rem;
			margin: 0;
		}
	}

	&.yellow {
		background-color: #ffb11a;
	}

	&.blue {
		background-color: #2d8dff;
	}

	&.off-black {
		background-color: #1e1e1e;
	}

	&.dark-grey {
		background-color: #757575;
	}

	&.medium-grey {
		background-color: #dbdbdb;
	}

	&.light-grey {
		background-color: #f9f9f9;
	}
}

.img-branding-color-swatch {
	width: 7rem;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

@include breakpoint(med) {
	.color-palette {
		grid-template-columns: repeat(2, 1fr);
	}
}

// Color palette and button styles
// <div class="style-guide-flex-container">
// <div>
//   <p>Color palette</p>
//   <div class="color-palette">
// 	<div class="branding-color-swatch yellow">
// 	  <img alt="" class="img-branding-color-swatch yellow" loading="lazy"
// 		src="/public/images/tastebuds/branding-color-swatch-primary-yellow.png">
// 	  <div>
// 		<p>Primary yellow</p>
// 	  </div>
// 	</div>
// 	<img alt="" class="img-branding-color-swatch" loading="lazy"
// 	  src="/public/images/tastebuds/branding-color-swatch-primary-blue.png">
// 	<img alt="" class="img-branding-color-swatch" loading="lazy"
// 	  src="/public/images/tastebuds/branding-color-swatch-off-black.png">
// 	<img alt="" class="img-branding-color-swatch" loading="lazy"
// 	  src="/public/images/tastebuds/branding-color-swatch-dark-grey.png">
// 	<img alt="" class="img-branding-color-swatch" loading="lazy"
// 	  src="/public/images/tastebuds/branding-color-swatch-light-grey.png">
// 	<img alt="" class="img-branding-color-swatch" loading="lazy"
// 	  src="/public/images/tastebuds/branding-color-swatch-lightest-grey.png">
//   </div>
// </div>
// <div class="button-styles_wrapper">
//   <p>Button styles</p>
//   <div class="flex-col gap-24">
// 	<div class="button-style">
// 	  <p>Small primary</p>
// 	  <div class="flex-row gap-16">
// 		<img src="/public/images/tastebuds/branding-button-small-primary-black.png" alt="">
// 		<img src="/public/images/tastebuds/branding-button-small-primary-blue.png" alt="">
// 	  </div>
// 	</div>
// 	<div class="button-style">
// 	  <p>Large primary</p>
// 	  <img src="/public/images/tastebuds/branding-button-large-primary-yellow.png" alt="">
// 	</div>
// 	<div class="button-style">
// 	  <p>Small secondary</p>
// 	  <div class="flex-row gap-16">
// 		<img class="small-secondary"
// 		  src="/public/images/tastebuds/branding-button-small-secondary-reset.png" alt="">
// 		<img class="small-secondary"
// 		  src="/public/images/tastebuds/branding-button-small-secondary-skip.png" alt="">
// 	  </div>
// 	</div>
// 	<div class="button-style">
// 	  <p>Large secondary</p>
// 	  <img src="/public/images/tastebuds/branding-button-large-secondary.png" alt="">
// 	</div>
//   </div>
// </div>
// </div>
