.competitor-analysis_wrapper {
    display: flex;
    gap: 1rem;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 2rem;
}

.competitor-analysis_grid-container {
  display: grid;
  grid-template-columns: 2.25fr 2.25fr 2.25fr;
  grid-template-rows: auto auto auto; /* Define two rows */
  width: 100%;
  column-gap: 1rem;
  row-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: $lightest-grey;
  border-radius: 1rem;

  p {
    margin-bottom: 0;
  }
}

.competitor-analysis-app {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    gap: 1rem;
    align-items: center;
    // padding-bottom: 1rem;
    // border-bottom: 1px solid $medium-light-grey;

    p {
        font-size: 1.25rem;
        color: $black;
        margin: 0;
        font-weight: 500;
    }
}

.competitor-analysis-finding {
  grid-column: 1 / 4; /* Span all columns */
  grid-row: 3 / 4; /* Place in the second row */
}

.img-competitor-logo {
  width: 2.5rem;
  border-radius: 5rem;
  overflow: hidden;
}

.img-google-maps_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5rem;
  background: white;
}

.img-google-maps {
  width: 80%;
  margin: auto;
}

.img-competitor-screen {
  border-radius: 0.5rem;
  border: 1.25px solid $light-grey;
}
