.r1-hf-iteration-process_grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr auto 1fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		'a . . b .'
		'c d e f g h';
	align-items: center;
	column-gap: 0.75rem;
	margin: auto;
	max-width: $content-max-width;

	.heading-01 {
		grid-area: a;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}

	.heading-02 {
		grid-area: b;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}

	.img-1 {
		grid-area: c;
	}

	.img-2 {
		grid-area: d;
	}

	.img-3 {
		grid-area: e;
	}

	.img-arrow {
		grid-area: f;
		width: 2.5rem;
	}

	.img-4 {
		grid-area: g;
		border: 1px solid $black;
	}

	.img-5 {
		grid-area: h;
		border: 1px solid $black;
	}
}

.img-route-2-hf-search {
	max-height: 36rem;
}

.r2-hf-design-evolution_grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		'a . . b'
		'c d e f';
	align-items: center;
	column-gap: 1rem;
	row-gap: 0.5rem;
	margin: auto;
	max-width: $content-max-width;

	.hf-heading-01 {
		grid-area: a;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}

	.hf-heading-02 {
		grid-area: b;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}

	.img-1 {
		grid-area: c;
		max-height: 27rem;
	}

	.img-2 {
		grid-area: d;
		max-height: 27rem;
	}

	.img-design-evolution-arrow {
		grid-area: e;
	}

	.img-3 {
		grid-area: f;
		max-height: 27rem;
	}

	.img-1,
	.img-2,
	.img-3 {
		width: 100%;
	}
}

.img-wireframe-border {
	border: 1px solid $off-black;
}
