.video-container {
	position: relative;
	display: inline-block;
}

.autoplay-video {
	width: 100%;
	height: auto;
}

// /* Hide controls by default */
// .autoplay-video::-webkit-media-controls,
// .autoplay-video::-webkit-media-controls-enclosure {
// 	display: none !important;
// }

// /* Show controls on hover */
// .autoplay-video:hover::-webkit-media-controls,
// .autoplay-video:hover::-webkit-media-controls-enclosure {
// 	display: inherit !important;
// }

.custom-controls {
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: flex;
	gap: 10px;
}

.custom-controls button {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.custom-controls button:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
