$userflow-walkthrough-border-radius: 1rem;

.userflow-walkthrough {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.userflowFeatures_wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
	align-items: stretch; /* This will stretch the children to fill the container */
}

.userflow-walkthrough_header {
	margin: auto;
	margin-bottom: 1.5rem;

	:first-child {
		font-size: 1rem;
		text-transform: uppercase;
		font-family: "Source Code Pro", monospace;
		color: $dark-grey;
		margin: 0;
		letter-spacing: 1px;
		margin: 0;
	}

	:last-child {
		font-size: 1.5rem;
		color: $black;
		margin: 0;
		margin-bottom: 0.5rem;
		font-weight: 500;
		margin: 0;
	}
}

.userflow-walkthrough_grid-container {
	display: flex;
	flex-direction: row;
	margin: auto;
	gap: 2rem;
	width: 95%;
	max-width: 80rem;
}

.userflow-walkthrough_card {
	@include flex(column, 0.5rem);
	height: fit-content;
	margin-top: 0;
	width: 20rem;
	max-width: $content-max-width;
	background-color: #0f0f0f;
	margin: auto; // Center the container
	padding: 2rem;
	border-radius: 1rem;

	//   box-shadow: 0.5px 0.5px 6px 0px rgba(0, 0, 0, 0.1);

	.headline {
		width: 100%;
		text-align: left;
		margin-bottom: 0;
		color: $black;
		font-size: 1.35rem;
		font-weight: normal;
	}

	.icon {
		width: 2.5rem;
		height: 2.5rem;
	}
}

.userflow-walkthrough_card_subheader {
	font-size: 1rem;
	text-transform: uppercase;
	font-family: "Source Code Pro", monospace;
	color: #e6e6e6d2;
	margin: 0;
	letter-spacing: 1px;
}

.userflow-walkthrough_card_headline {
	font-size: 1.5rem;
	color: white;
	margin: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.userflowFeatures_list {
	width: 100%;
	margin: 0;
	list-style-type: none;
	font-weight: 400;

	li {
		color: #ffffff;
		font-weight: 300;
	}
}

.userflow-walkthrough_image {
	margin-bottom: 1.5rem;
	border-radius: $userflow-walkthrough-border-radius;
	background-color: #fff;
}

.userflow-walkthrough_content-container {
	flex: 1;
}

.userflow-walkthrough_content {
	// background-color: $lightest-grey;
	// border-radius: $userflow-walkthrough-border-radius;
	padding: 0 1rem;
	width: 100%;

	.subheading {
		color: white;
	}

	p {
		color: #aaa;
		font-weight: 500;
		font-size: 1.3rem;
	}

	p:last-child {
		margin-bottom: 0;
	}

	span {
		color: white;
	}
}
