.notion-affinity-maps_container {
	width: 100vw;
	// background-color: $lightest-grey;
}

.notion-affinity-maps_grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-gap: 1rem;
	width: 80%;
	margin: auto;
	margin-bottom: 1rem;
	// background-color: $lightest-grey;

	.notion-affinity-map_grid-item {
		background-color: #fff;
		padding: 1rem;
		border: 1.5px solid $light-grey;

		&.bg-light-green {
			background-color: #eef3ec;
			padding: 1rem;
			border: 1.5px solid $light-grey;
		}
	}

	.bg-white-zoomed {
		background-color: #fff;
		padding: 1rem;
		border: 1.5px solid $light-grey;
	}
}

.height-100 {
	height: 100%;
}
