.mobile-only {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 1rem;
  border-radius: 50px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.show-mobile-sm {
  display: none;
}

.show-mobile-med {
  display: none;
}

.show-mobile-lg {
  display: none;
}

.show-sm {
  display: none;
}

.show-med {
  display: none;
}

.show-lg {
  display: none;
}

.show-xl {
  display: none;
}

@media (min-width: 320px) {
  .show-mobile-sm {
    display: block;
  }
}
@media (min-width: 375px) {
  .show-mobile-med {
    display: block;
  }
}
@media (min-width: 425px) {
  .show-mobile-lg {
    display: block;
  }
}
@media (min-width: 576px) {
  .show-sm {
    display: block;
  }
}
@media (min-width: 768px) {
  .show-med {
    display: block;
  }
}
@media (min-width: 992px) {
  .show-lg {
    display: block;
  }
}
@media (min-width: 1200px) {
  .show-xl {
    display: block;
  }
}
.hide-mobile-sm {
  display: none;
}

.hide-mobile-med {
  display: none;
}

.hide-mobile-lg {
  display: none;
}

.hide-sm {
  display: none;
}

.hide-med, .interviewee .img-interviewee {
  display: none;
}

.hide-lg {
  display: none;
}

.hide-xl {
  display: none;
}

@media (min-width: 320px) {
  .hide-mobile-sm {
    display: none;
  }
}
@media (min-width: 375px) {
  .hide-mobile-med {
    display: none;
  }
}
@media (min-width: 425px) {
  .hide-mobile-lg {
    display: none;
  }
}
@media (min-width: 576px) {
  .hide-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .hide-med, .interviewee .img-interviewee {
    display: none;
  }
}
@media (min-width: 992px) {
  .hide-lg {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hide-xl {
    display: none;
  }
}
.pure-black {
  color: #000;
}

.black {
  color: #1e1e1e;
}

.off-black {
  color: #4a4a4a;
}

.dark-grey {
  color: #565656;
}

.medium-grey {
  color: #757575;
}

.medium-light-grey {
  color: #dbdbdb;
}

.light-grey {
  color: #f0f0f0;
}

.lightest-grey {
  color: #f9f9f9;
}

.sub-grey {
  color: #cfcfcf;
}

.emphasis-blue {
  color: #4479df;
}

.invalid-red {
  color: #dc1d25;
}

.light-blue {
  color: #e7ecff;
}

.emphasis {
  color: #e2583e;
}

.primary-bg {
  color: #ffdc93;
}

.primary-color {
  color: #076261;
}

.bg-light-blue {
  background-color: #e7ecff;
}
.bg-lightest-grey {
  background-color: #f9f9f9;
}

.iconSize-xxs {
  width: 20px;
  height: 20px;
}
.iconSize-xs {
  width: 24px;
  height: 24px;
}
.iconSize-sm {
  width: 32px;
  height: 32px;
}
.iconSize-med {
  width: 40px;
  height: 40px;
}
.iconSize-lg {
  width: 64px;
  height: 64px;
}
.iconSize-xl {
  width: 80px;
  height: 80px;
}

.blockquote-content p:first-child {
  font-family: "Noto Serif", sans-serif !important;
  font-size: 1.25rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  letter-spacing: 0.2px !important;
  line-height: 160% !important;
  margin-top: 0 !important;
  overflow-wrap: normal !important;
  width: 100% !important;
  text-align: left !important;
  color: #757575 !important;
}

/* Heading and paragraph base styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: inherit;
  margin-top: 0;
}

.paragraph {
  font-size: 1.125rem;
  font-weight: 400;
  color: #565656;
  line-height: 145%;
  margin-bottom: 1.125rem;
  font-family: "Inter", sans-serif;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  color: #565656;
  line-height: 145%;
  margin-bottom: 1.25rem;
  margin-top: 0;
}

/* Specific heading styles with colors and sizes */
h1 {
  font-size: 2.986rem; /* Example size, adjust as necessary */
  color: #1e1e1e; /* Assuming a color variable, adjust as needed */
  margin-bottom: 0.5rem;
}

h2 {
  color: #1e1e1e;
  flex: 1;
  font-size: 2.488rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h3 {
  color: #076261;
  letter-spacing: 0;
  text-transform: none;
  font-size: 2.074rem;
  font-weight: 500;
  line-height: 130%; /* Slightly adjusted for better readability */
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

h4 {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 120%;
  color: var(--black); /* CSS variable, ensure it's defined in your styles */
  font-size: 1.728rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h5 {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 120%;
  color: #1e1e1e; /* CSS variable, ensure it's defined in your styles */
  font-size: 1.44rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1.2rem; /* Smallest heading, specify if needed */
  line-height: 120%;
  color: #076261; /* Example, adjust as necessary */
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.noto-serif {
  color: #1e1e1e;
  font-family: "Noto Serif", serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 160%;
}

.quote-text {
  font-family: "Noto Serif", serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 160%;
  margin: 0;
  overflow-wrap: normal;
  color: #1e1e1e;
}

.bold {
  font-weight: 600;
}

.subheading {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 130%;
  color: #1e1e1e;
  font-size: 1.3rem;
  text-transform: none;
}
.subheading::first-letter {
  text-transform: capitalize;
}

.section-subheading {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 130%;
  color: #1e1e1e;
  font-size: 1.3rem;
  text-transform: none;
  margin-bottom: 0.5rem;
}
.section-subheading::first-letter {
  text-transform: capitalize;
}

.section-subheading {
  font-size: 1.5rem;
  color: #076261;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.section-subheading.small {
  font-size: 1.25rem;
  color: #1e1e1e;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.secondary-text {
  color: #1e1e1e;
  font-size: 1.665rem;
  font-weight: 500;
  line-height: 135%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.fw-medium {
  color: #1e1e1e;
  font-weight: 500;
}

.span-fw-medium span {
  color: #1e1e1e;
  font-weight: 500;
}

.notes {
  color: #00bdd6;
  font-size: 1.125rem;
  font-family: "Noto Serif", sans-serif;
}

.secondary-text.small {
  color: #1e1e1e;
  font-size: 1.424rem;
  font-weight: 500;
  line-height: 115%;
  margin-bottom: 1rem;
  letter-spacing: 0rem;
}

.the-problem-text {
  font-size: 1.25rem;
}

.text-center {
  text-align: center;
}

html {
  text-size-adjust: none;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  text-align: left;
}

main {
  display: block;
  background: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  border: none;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  font-size: 1.125rem;
  background-color: transparent;
  text-decoration: none;
  color: #0281E3;
  margin-bottom: 1rem;
  margin-top: 1.25rem;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  width: 100%;
  margin: 0;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: inherit;
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none;
  border: 0;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */
textarea {
  overflow: auto;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  appearance: textfield;
  outline-offset: -2px; /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */
[type=search]::-webkit-search-decoration {
  appearance: none;
  -webkit-appearance: none; /* For Safari and Chrome */
  -moz-appearance: none; /* For Firefox */
  -ms-appearance: none; /* For Internet Explorer */
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
    ========================================================================== */
/*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */
details {
  display: block;
}

/*
  * Add the correct display in all browsers.
  */
summary {
  display: list-item;
}

/* Misc
    ========================================================================== */
/**
  * Add the correct display in IE 10+.
  */
template {
  display: none;
}

/**
  * Add the correct display in IE 10.
  */
[hidden] {
  display: none;
}

.material-icons {
  vertical-align: -14%;
}

.img-width-1200 {
  width: 90%;
  max-width: 1200px;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.img-centered {
  display: block;
  margin: 0 auto;
}

.img-with-radius {
  border-radius: 0.1875rem;
}

.img-circle {
  border-radius: 50%;
  overflow: hidden;
}

.img-bordered {
  border: 1px solid #f0f0f0;
}

.img-grayscale {
  filter: grayscale(100%);
}

.img-sepia {
  filter: sepia(100%);
}

.hero {
  width: 100vw;
  height: 60vh;
  overflow: hidden;
}
.hero.heroBG-postup {
  background-color: #8cb4ac;
}
.hero.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  margin: auto;
  width: 100%;
}
.hero.wrapper .img-wrapper {
  justify-content: flex-end;
  align-items: center;
  padding: auto;
  overflow: hidden;
  margin: auto;
}
.hero.wrapper .img-wrapper .hero-gif {
  width: 75vw;
  max-width: 20.5rem;
  margin: auto 0;
}
.hero#tastebuds-heroBG {
  background-color: rgba(255, 220, 147, 0.75);
}
@media (min-width: 768px) {
  .hero {
    padding-top: 4rem;
    width: 100vw;
    height: 50vh;
  }
  .hero .wrapper {
    gap: 2rem;
    height: 100%;
    margin: auto;
  }
  .hero .wrapper .hero-gif-wrapper {
    justify-content: flex-end;
    align-items: center;
    padding: auto;
    overflow: hidden;
    margin: auto;
    width: 20%;
    margin: 0 auto;
  }
}

.caption-container {
  height: fit-content;
  align-items: center;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  display: flex;
  padding: 1rem 0;
  margin-bottom: 2rem;
  margin: auto;
  justify-content: center;
}

.content-grid {
  display: grid;
  grid-template-rows: auto;
  width: 90vw;
  max-width: 45rem;
  margin: auto; /* Center the container */
  margin-bottom: 1.25rem;
}
.content-grid p:last-child {
  margin-bottom: 0;
}
.content-grid > p {
  margin-top: 0;
}
.content-grid > div > :first-child {
  margin-top: 0;
}
.content-grid .img-wrapper {
  padding: 2rem 0;
}
.content-grid aside p {
  font-size: 1.125rem;
  color: #00bdd6;
  font-family: "Noto Serif", sans-serif;
  margin: 0;
}
@media (min-width: 1200px) {
  .content-grid {
    display: grid;
    grid-template-columns: 1fr auto; /* Content and side notes */
    width: 90vw;
    max-width: 45rem;
  }
  .content-grid > div:first-child {
    grid-column: 1/2; /* Content occupies the first column */
    width: 90vw;
    max-width: 45rem;
    text-align: left;
  }
  .content-grid > p:first-child {
    grid-column: 1/2; /* Content occupies the first column */
    width: 90vw;
    max-width: 45rem;
  }
  .content-grid aside {
    grid-column: 2/3; /* Side notes in the second column */
    min-width: 15vw;
    max-width: 100%;
    margin-left: 1.5rem;
  }
}
.content-grid.large {
  display: grid;
  grid-template-rows: auto;
  width: 90vw;
  max-width: 1000px;
  margin: auto; /* Center the container */
}
.content-grid.large aside p {
  font-size: 1rem;
  color: #00bdd6;
  font-family: "Noto Serif", sans-serif;
  text-align: left;
}
@media (min-width: 768px) {
  .content-grid.large > div:first-child {
    grid-column: 1/2; /* Content occupies the first column */
    width: 90vw;
    max-width: 800px;
    text-align: left;
  }
  .content-grid.large > p:first-child {
    grid-column: 1/2; /* Content occupies the first column */
    width: 90vw;
    max-width: 800px;
  }
  .content-grid.large aside {
    grid-column: 2/3; /* Side notes in the second column */
    min-width: 20vw;
    max-width: 320px;
    padding-left: 1.5rem;
  }
  .content-grid.large aside p {
    margin-top: 1rem;
  }
}

hr {
  box-sizing: content-box;
  height: 0.5px;
  background-color: #dbdbdb;
  border: none;
}
hr.dashed-blue {
  border-style: dashed;
  background-color: #e7ecff;
}
hr.solid-black {
  background-color: #1e1e1e;
}
hr.solid-grey {
  background-color: #f0f0f0;
}

.accordion {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 1rem 1.25rem;
  border: 0;
  color: white;
  margin-top: 0.5rem;
}
.accordion .accordionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #1f1f1f;
}
.accordion .accordionHeader p {
  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
  margin: 0;
  flex: 1;
  color: white;
}
.accordion .accordionHeader .accordion-icon {
  transition: transform 0.4s;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
}
.accordion .accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion .accordionContent p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
  text-align: left;
}

.ic-arrowDown--lined {
  content: url(/assets/svg/ic-arrowDown_lined--black.svg);
}

.rotate {
  transform: rotate(-180deg);
}

.carousel-container {
  flex-direction: row;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.carousel-container .carousel-items {
  width: 5000px;
  transform: translate3d(0px, 0px, 0px);
  touch-action: pan-y;
  cursor: grab;
  user-select: none;
}
.carousel-container .carousel-item {
  float: left;
  max-width: 45rem;
}
.carousel-container .carousel-item img {
  max-width: 45rem;
}

.grab {
  cursor: -moz-grab;
}

.grabbing {
  cursor: -moz-grabbing;
}

.item_arrow {
  float: left;
  height: 65px;
  margin-bottom: 1px;
  position: absolute;
  width: 45px;
}

.nav_dot {
  border-radius: 50%;
  float: left;
  height: 8px;
  margin-left: 8px;
  transition: background-color 0.3s ease;
  width: 8px;
  background-color: rgb(230, 230, 230);
  transform: translate(0px, 0px);
}

.nav_dot:hover .item_arrow:hover {
  cursor: pointer;
}

.item_next {
  background-color: #2d96cd;
  left: 1000px;
  top: 0;
}

.item_prev {
  background-color: #000;
  display: none;
  left: 1000px;
  top: 66px;
}

.fa {
  color: #1e1e1e;
  font-size: 3em;
  margin-left: 14px;
  margin-top: 10px;
}

.nav_dots {
  background-color: #1e1e1e;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.item_arrows {
  position: absolute;
  top: 200px;
  width: 1000px;
  height: 1px;
  z-index: 5000;
  border: 0px solid green;
}

.item_arrow {
  position: absolute;
  width: 45px;
  height: 65px;
  /*
  background-color: #2d96cd;
  */
  margin-bottom: 1px;
  float: left;
}

blockquote {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  height: 100%;
  margin: 0;
}

.blockquote-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 0 1.5rem;
  padding-right: 0;
  align-items: flex-start;
  align-self: auto;
  background-color: #fafafa;
  border-left: 6px solid #dbdbdb;
}
.blockquote-content p:first-child {
  margin: 0;
}

.interviewee {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.interviewee p {
  color: #565656;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 400;
}

.card {
  gap: 2.5rem;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 6rem;
  border-radius: 1.5rem;
  height: fit-content;
  overflow: hidden;
  padding: 3rem;
}
.card.medium {
  max-width: 1080px;
}

.heading-icon {
  position: relative;
}
.heading-icon .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  transform: translateX(calc(-100% - 0.5rem));
  line-height: 1.2;
}

.hero-overview {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}

.section-overview {
  display: flex;
  flex-direction: column;
  flex: content;
  margin: auto;
  padding: 2rem 0;
  width: max-content;
}
.section-overview .content-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}
.section-overview .content-wrapper .project-details-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 4rem;
}
.section-overview .content-wrapper .project-details-container .project-details-list p {
  color: #1e1e1e;
  font-size: 1rem;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 0.25rem;
}
.section-overview .content-wrapper .project-details-container .project-details-list ul {
  padding: 0;
}
.section-overview .content-wrapper .project-details-container .project-details-list ul li {
  font-family: "Inter";
  color: #f0f0f0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 135%;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}
.section-overview .content-wrapper .project-details-container .tools-flex-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 0.75rem;
  gap: 1rem;
}
.section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.625rem;
  overflow: hidden;
}
.section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.canva-app {
  box-shadow: -1px -1px 2px rgba(49, 49, 49, 0.05), 1px 1px 2px rgba(0, 0, 0, 0.5), inset -1px -1px 3px rgba(0, 0, 0, 0.05), inset 1px 1px 2px rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
.section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.canva-app img {
  width: 3.5rem;
  height: 3.5rem;
}
.section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.figma-app, .section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.miro-app, .section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.whiteBG {
  padding: 0.5rem;
  background: #2e3139;
  box-shadow: -1px -1px 2px rgba(49, 49, 49, 0.05), 1px 1px 2px rgba(0, 0, 0, 0.5), inset -1px -1px 3px rgba(0, 0, 0, 0.05), inset 1px 1px 2px rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
.section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.figma-app.miro-app, .section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.miro-app.miro-app, .section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.whiteBG.miro-app {
  background: #ffd12b;
}
.section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.figma-app.whiteBG, .section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.miro-app.whiteBG, .section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper.whiteBG.whiteBG {
  background: #fff;
}
.section-overview .content-wrapper .project-details-container .tools-flex-container .tool-logo-wrapper img {
  width: 2.5rem;
  height: auto;
  margin: 0;
}
.section-overview .content-wrapper .project-title {
  font-family: "Inter";
  color: var(--black);
  font-size: 2.66rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.144px;
  margin-bottom: 1rem;
}
.section-overview .content-wrapper .project-tagline,
.section-overview .content-wrapper .tags-wrapper {
  align-self: center;
  color: #f0f0f0;
  margin: 0 0 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 135%;
}
.section-overview .content-wrapper .tags-wrapper {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  white-space: nowrap;
  cursor: pointer;
}
.section-overview .content-wrapper .tags-wrapper .project-tag {
  display: flex;
  height: 2rem;
  align-items: center;
  padding: 0 0.5rem;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.3125rem;
}
.section-overview .content-wrapper .tags-wrapper .project-tag.postup {
  background: #daede9;
  color: #388e7d;
}
.section-overview .content-wrapper .scrollable {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-text-overflow: none;
  text-overflow: none;
}
.section-overview .content-wrapper .scrollable::-webkit-scrollbar {
  display: none;
}
.section-overview .content-wrapper .hero-scroll-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-overview .content-wrapper .hero-scroll-arrow {
  display: block;
  margin: 0 auto;
  width: 3rem;
  height: 3rem;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
}
.section-overview .content-wrapper .hero-scroll-arrow:hover {
  stroke: #f0f0f0;
  transform: scale(1.1);
}
.section-overview .content-wrapper .hero-scroll-arrow img {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  margin: auto;
}
@media (min-width: 768px) {
  .section-overview {
    padding: 4rem 0;
  }
  .section-overview .section-overview-header {
    min-width: 40%;
    max-width: 50%;
  }
  .section-overview .content-wrapper {
    flex-direction: row;
    gap: 2rem;
    margin: 0 auto;
    width: fit-content;
  }
  .section-overview .content-wrapper .project-title {
    flex: auto;
    color: var(--black);
    font-size: 2.66rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.144px;
    margin-bottom: 1rem;
  }
  .section-overview .content-wrapper .project-tagline {
    align-self: center;
    color: #757575;
    margin: 0 0 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 135%;
  }
  .section-overview .content-wrapper .scrollable {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-text-overflow: none;
    text-overflow: none;
  }
  .section-overview .content-wrapper .scrollable::-webkit-scrollbar {
    display: none;
  }
  .section-overview .content-wrapper .tags-wrapper {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .section-overview .content-wrapper .tags-wrapper .project-tag {
    background: rgba(219, 219, 219, 0.5);
  }
  .section-overview .content-wrapper .tags-wrapper .project-tag.postup {
    background: #daede9;
    color: #388e7d;
  }
  .section-overview .content-wrapper .tags-wrapper#boardspaceTags .project-tag {
    background: #daede9;
    color: #388e7d;
  }
  .section-overview .content-wrapper .project-details-container {
    width: fit-content;
  }
  .section-overview .content-wrapper .project-details-container .grid-item {
    display: flex;
    flex: auto;
    flex-direction: row;
  }
  .section-overview .content-wrapper .project-details-container .grid-item .project-details-list {
    flex: 1;
  }
  .section-overview .content-wrapper .project-details-container .grid-item .project-details-list .project-details-headline {
    color: #1e1e1e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 0.5rem;
  }
  .section-overview .content-wrapper .project-details-container .grid-item .project-details-list ul {
    padding: 0;
    margin: 0 0 8px;
  }
  .section-overview .content-wrapper .project-details-container .grid-item .project-details-list ul li {
    color: #757575;
    font-size: 1rem;
    font-weight: 400;
    line-height: 135%;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
  }
  .section-overview .content-wrapper .project-details-container .grid-item .project-details-list.project-tools {
    flex: 0 0 auto;
  }
  .section-overview .content-wrapper .project-details-container .grid-item .project-details-list .tools-flex-container {
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

#the-constraints {
  background-color: #f9f9f9;
}
#the-constraints > .card {
  background-color: white;
}

.constraints-content-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
}
.constraints-content-container .subheading {
  font-size: 1.5rem;
}

.constraint-grid-container .subheading {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .constraint-grid-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
    width: fit-content;
    text-align: left;
  }
  .constraint-grid-container ul {
    margin-bottom: 0;
    margin-top: 0.5rem;
    list-style-type: none;
  }
  .constraint-grid-container ul li {
    line-height: 160%;
    margin-bottom: 0.25rem;
  }
  .constraint-grid-container ul li:last-child {
    margin-bottom: 0;
  }
  .constraint-grid-container img {
    margin: auto 0;
  }
  .constraint-grid-container .svg-wrapper {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
  }
  .constraint-grid-container .svg-time-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3.5rem;
  }
  .constraint-grid-container .svg-time {
    height: 2.98375rem;
    width: fit-content;
    margin: auto 0;
  }
}

.constraints-flex-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 calc(6.12rem - 5px) 0;
  width: 100%;
}
.section-container .subsection {
  display: block;
  margin: auto;
  padding: 0;
  margin-bottom: 4rem;
  width: 100%;
}
.section-container.lightest-grey {
  background-color: #f9f9f9;
}
.section-container.equal-padding {
  padding: 6rem 0;
}
.section-container > :first-child {
  margin-top: 0;
}

.border {
  border-bottom: 1px solid #f0f0f0;
}

.section-container > img,
.section-container figure {
  margin: 2rem auto;
}

main div > img:only-child {
  margin: 0;
}

.content {
  display: block;
  max-width: 45rem;
  width: 90vw;
  margin: auto;
  align-items: left;
  margin-top: 1.5rem;
}
.content > figure > img {
  margin: 0;
}
.content.medium {
  max-width: 1000px;
}
.content.large {
  max-width: 1200px;
}
.content.xl {
  max-width: 1400px;
}
.content > :first-child {
  margin-top: 0;
}

.container-full-width {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #f9f9f9;
  margin: 2.5rem 0 4rem 0;
  width: 100vw;
  padding: 1rem 0;
}
.container-full-width .content-wrapper div {
  margin: auto;
}
.container-full-width.transparent {
  background-color: transparent;
}
.container-full-width.grey {
  background-color: #f3f3f3;
}
@media (min-width: 768px) {
  .container-full-width {
    padding: 2rem 0;
  }
}
@media (min-width: 992px) {
  .container-full-width {
    padding: 4rem 0;
  }
}
.container-full-width > :first-child {
  margin-top: 0;
}

.header-container {
  display: block;
  max-width: 45rem;
  width: 90vw;
  margin: 0 auto;
}
.header-container h3 {
  color: #076261;
}
.header-container .secondary-text {
  margin: 0;
}

.subheader, .header-container span {
  color: #757575;
  font-size: 0.889rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 125%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  height: fit-content;
}

.img-sprint-schedule {
  max-width: 32rem;
  width: 100%;
  margin: 0;
  margin-bottom: 2rem;
}

.subsection .content,
.section-container .content,
.container-full-width .content {
  margin-bottom: 3rem;
}
.subsection .content:first-child,
.section-container .content:first-child,
.container-full-width .content:first-child {
  margin-top: 0;
}
.subsection .content:last-child,
.section-container .content:last-child,
.container-full-width .content:last-child {
  margin-bottom: 0;
}

.content > :first-child,
.subsection > :first-child,
.section-container > :first-child,
.container-full-width > :first-child {
  margin-top: 0;
}
.content > :last-child,
.content > :only-child,
.subsection > :last-child,
.subsection > :only-child,
.section-container > :last-child,
.section-container > :only-child,
.container-full-width > :last-child,
.container-full-width > :only-child {
  margin-bottom: 0;
}

.the-challenge-text {
  font-size: 1.44rem;
  color: #757575;
  font-weight: 500;
}

.list-research-materials {
  margin-bottom: 1.5rem;
}

.research-slidedeck {
  max-width: 45rem;
  max-width: 26.6rem;
  width: 100%;
}
.research-slidedeck iframe {
  max-width: 45rem;
  max-width: 26.6rem;
}

.interview-quotes-wrapper {
  max-width: 62rem;
  width: 90vw;
  margin: auto;
}
.interview-quotes-wrapper > .img-quotation-mark {
  margin: 0;
  margin-bottom: 1rem;
  max-width: 5rem;
}
.interview-quotes-wrapper .grid-container {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  margin: auto;
}
.interview-quotes-wrapper .quote-grid-item {
  display: grid;
  grid-template-columns: 3fr 2.5rem 7fr;
  column-gap: 1.25rem;
  align-items: center;
  padding: 2rem 0;
}
.interview-quotes-wrapper .quote-grid-item:nth-child(n+2) {
  border-top: 1px solid #dbdbdb;
}
.interview-quotes-wrapper .quote-grid-item > div:first-child p {
  color: #1e1e1e;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}
.interview-quotes-wrapper .quote-grid-item .img-interviewee {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 25px;
  margin: auto 0 0 0;
}
.interview-quotes-wrapper .quote-grid-item.andy {
  order: 1;
  padding-top: 0;
}
.interview-quotes-wrapper .quote-grid-item.claire {
  order: 2;
}
.interview-quotes-wrapper .quote-grid-item.james {
  order: 3;
}
.interview-quotes-wrapper .quote-grid-item.beth {
  order: 4;
}
.interview-quotes-wrapper .quote-grid-item.adam {
  order: 5;
  padding-bottom: 0;
}

.img-user-journey {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.monday-last-container {
  margin-top: 4rem;
}

.crazy-8s {
  display: flex;
  padding: 2.5rem 0.5rem 1.5rem 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: white;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  overflow: hidden;
}
.crazy-8s img {
  width: 100%;
  margin: auto;
}

.postup-full-storyboard {
  margin-bottom: 2rem;
}

.storyboarding-content {
  display: block;
  max-width: 45rem;
  width: 90vw;
  margin: auto;
  align-items: left;
}
.storyboarding-content :last-child {
  margin-bottom: 0;
}

.design-checklist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  align-items: flex-start;
  gap: 2rem;
}
.design-checklist > div:first-child {
  flex: calc(40% - 1rem);
}
.design-checklist > div:last-child {
  flex: calc(60% - 1rem);
}
.design-checklist > div:last-child img {
  width: 100%;
}

.wireframes-heading {
  color: #1e1e1e;
  flex: 1;
  font-size: 2.986rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 3rem;
  margin-top: 0;
  letter-spacing: -0.1px;
  text-align: center;
}

.container-full-width.prototypes {
  background-color: #f0f0f0;
  padding: 6rem auto;
}
.container-full-width.prototypes header {
  max-width: 1200px;
  width: 90%;
  margin-bottom: 1rem;
}

.prototype-heading {
  color: #1e1e1e;
  flex: 1;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  max-width: 1200px;
  letter-spacing: -0.1px;
  width: 90%;
}

.prototype-walkthrough {
  gap: 2.5rem;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  background-color: #f9f9f9;
  margin-bottom: 6rem;
  border-radius: 1rem;
  height: fit-content;
  overflow: hidden;
}
.prototype-walkthrough .grid-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 0 auto;
  gap: 4rem;
  align-items: center;
  padding: 4rem;
  width: calc(1100px - 8rem);
}
.prototype-walkthrough .grid-container img {
  width: 100%;
  margin: 0;
  border-radius: 3.5rem;
  overflow: hidden;
}
.prototype-walkthrough .grid-container div {
  display: block;
}
.prototype-walkthrough .grid-container div p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #1e1e1e;
}
.prototype-walkthrough .grid-container div p {
  font-size: 1.45rem;
  font-weight: 500;
  color: #757575;
}
.prototype-walkthrough .grid-container div:first-child {
  margin-bottom: 2rem;
}

.quote-container.usability-test {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
}
.quote-container.usability-test .quote-block {
  align-items: center;
  align-self: center;
  margin-bottom: 0;
  padding: 1rem 1.5rem;
  padding-right: 0;
  align-items: flex-start;
  align-self: auto;
  background-color: #fafafa;
  border-left: 6px solid var(--light-grey);
}
.quote-container.usability-test .quote-block p {
  font-family: "Noto Serif", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 160%;
  margin-bottom: 1rem;
  margin-top: 0;
  overflow-wrap: normal;
  width: 100%;
  text-align: left;
}
.quote-container.usability-test .quote-block > p:last-child {
  margin-bottom: 0;
}
.quote-container.usability-test .quote-block .author {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.quote-container.usability-test .quote-block .author .mobile-only {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 1rem;
  border-radius: 50px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .quote-container.usability-test .quote-block .author .mobile-only {
    display: none;
  }
}
.quote-container.usability-test .quote-block .author p {
  color: var(--medium-light-grey);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .quote-container.usability-test img.desktop-only {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 25px;
    margin-right: 1rem;
    overflow: hidden;
  }
}

.business-monetization-details {
  gap: 0.5rem;
}
.business-monetization-details header {
  width: 100%;
}
.business-monetization-details header h4 {
  margin-bottom: 1rem;
}

.reservation-system {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.reservation-system > div:first-child {
  flex: calc(70% - 1rem);
}
.reservation-system > div:first-child h4 {
  margin-bottom: 0.5rem;
}
.reservation-system > div:last-child {
  flex: calc(30% - 1rem);
  border: 1px solid #dbdbdb;
}

:root {
  --primary-color: #076261;
}

#research-process header h2 {
  margin-bottom: 0;
}

.design-sprint-graphic {
  margin: 1rem auto;
}
.design-sprint-graphic img {
  width: 100%;
}
@media (min-width: 768px) {
  .design-sprint-graphic {
    max-width: 38rem;
  }
}

.airbnb {
  align-self: center;
  max-width: none;
  width: 84.5px;
}

.airbnb-strengths-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  width: fit-content;
  max-width: 45rem;
  gap: 3rem;
  padding: 2rem;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  justify-content: center;
}
.airbnb-strengths-container .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  row-gap: 1rem;
  column-gap: 2.5rem;
  margin: 0;
}
.airbnb-strengths-container .content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.airbnb-strengths-container .content div p {
  margin: 0;
}
.airbnb-strengths-container .content div img {
  margin: 0;
}

.cards {
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 100%;
  min-width: 10%;
  order: 0;
  padding: 0 40px 40px;
}

.cards.search {
  max-width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
}

.cards.horizontal {
  align-items: center;
  align-self: auto;
  border-bottom: 0 solid var(--light-grey);
  flex-flow: wrap;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
  min-width: 0%;
  padding: 0 0%;
  width: 100%;
}

.cards.horizontal.border-0 {
  border-bottom-width: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.cards.left {
  padding-left: 0;
  padding-top: 0;
}

.cards.right {
  padding-right: 0;
}

.cards.site-map {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  min-width: 15%;
  padding: 0;
}

.cards.site-map.first-child {
  padding-left: 0;
}

.tabs-container {
  width: 45rem;
  margin-top: 2rem;
  margin: auto;
}

.tabs-menu {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #12181f;
  padding: 0.5rem;
  overflow: hidden;
  width: 100%;
  height: 3.5rem;
  border-radius: 2rem;
}
.tabs-menu .slider {
  position: absolute;
  border-radius: 2rem;
  height: 2.5rem;
  background-color: #333;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.8), 0 6px 8px px rgba(255, 255, 255, 0.8);
  width: 25%;
  transition: left 0.3s ease;
}

.tab-content {
  display: none;
  padding: 2rem 1rem;
  padding-bottom: 0;
}
.tab-content > div,
.tab-content blockquote {
  margin-bottom: 2rem;
}
.tab-content > :last-child {
  margin-bottom: 0;
}

.tab-content.active {
  display: block;
}

.tab-button {
  display: flex;
  width: 25%;
  align-items: center;
  cursor: pointer;
  border-radius: 2rem;
  height: 2.5rem;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: transparent;
}
.tab-button p {
  margin: auto;
  width: 100%;
  text-align: center;
  font-weight: 400;
  color: #e9e9e9;
  font-size: 1.2rem;
  z-index: 2;
}
.tab-button.active p {
  color: white;
  font-weight: 500;
  margin: auto 0;
}
.tab-button:hover p {
  color: white;
  font-weight: 500;
  margin: auto 0;
}

.tab-content-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}
.tab-content-grid img {
  margin: 0;
  width: 100%;
}
.tab-content-grid p {
  margin-bottom: 0.5rem;
}
.tab-content-grid p:last-child {
  margin: 0;
}

.img-sketch-filters {
  align-self: auto;
  border-bottom: 2px solid #000;
  flex: 0 auto;
  max-width: 221px;
}

.tab2-list {
  font-size: 1.125rem;
  line-height: 150%;
}
.tab2-list li {
  padding-bottom: 1rem;
}

.tab-subheading {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 130%;
  color: #1e1e1e;
  font-size: 1.3rem;
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowwrap {
  flex-wrap: nowrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-block {
  align-items: center;
}

.self-center {
  align-self: center;
}

.space-between {
  justify-content: space-between;
}

.justify-self-center {
  justify-self: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.items-center {
  align-items: center;
  justify-content: center;
}

.items-start {
  align-items: start;
}

.scroll-button {
  cursor: pointer;
  font-size: 1.125rem;
  background-color: transparent;
  text-decoration: none;
  color: #0281E3;
  border: 0;
  margin: 0;
  padding: 0;
}

.mb-0 {
  margin-bottom: 0rem !important;
}
.mb-8 {
  margin-bottom: 0.5rem !important;
}
.mb-16 {
  margin-bottom: 1rem !important;
}
.mb-24 {
  margin-bottom: 1.5rem !important;
}
.mb-32 {
  margin-bottom: 2rem !important;
}
.mb-40 {
  margin-bottom: 2.5rem !important;
}
.mb-64 {
  margin-bottom: 4rem !important;
}
.mb-80 {
  margin-bottom: 5rem !important;
}

.ml-24 {
  margin-left: 1rem;
}

.margin-0 {
  margin: 0 !important;
}

.margin-auto {
  margin: auto !important;
}

.mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mv-8 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.mv-16 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.mv-24 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.mv-32 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.mv-40 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}
.mv-48 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.mv-56 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}
.mv-64 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-8 {
  margin-top: 0.5rem !important;
}
.mt-16 {
  margin-top: 1rem !important;
}
.mt-24 {
  margin-top: 1.5rem !important;
}
.mt-32 {
  margin-top: 2rem !important;
}
.mt-40 {
  margin-top: 2.5rem !important;
}

.padding-40 {
  padding: 2.5rem !important;
}

.pt-32 {
  padding-top: 2rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-16 {
  padding-bottom: 1rem !important;
}
.pb-32 {
  padding-bottom: 2rem !important;
}
.pb-48 {
  padding-bottom: 3rem !important;
}

.pv-16 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.pv-32 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.gap-8 {
  gap: 0.5rem !important;
}
.gap-16 {
  gap: 1rem !important;
}
.gap-24 {
  gap: 1.5rem !important;
}
.gap-32 {
  gap: 2rem !important;
}
.gap-40 {
  gap: 2.5rem !important;
}
.gap-64 {
  gap: 4rem !important;
}
.gap-80 {
  gap: 5rem !important;
}

.teal {
  color: #45b5aa;
}

.yellow {
  color: #f0c05a;
}

.red-orange {
  color: #e2583e;
}

.tan {
  color: #decdbd;
}

.dark-grey {
  color: #565656;
}

.off-black {
  color: #4a4a4a;
}

.emphasis-blue {
  color: #4479df;
}

.medium-grey {
  color: #757575;
}

.lightest-grey {
  color: #f9f9f9;
}

.invalid-red {
  color: #dc1d25;
}

.medium-light-grey {
  color: #dbdbdb;
}

.light-grey {
  color: #f0f0f0;
}

.light-blue {
  color: #e7ecff;
}

.black {
  color: #1e1e1e;
}

.sub-grey {
  color: #cfcfcf;
}

.emphasis {
  color: #e2583e;
}

.bg-light-blue {
  background-color: var(--light-blue);
}
.bg-light-grey {
  background-color: #f0f0f0;
}
.bg-lightest-grey {
  background-color: #f9f9f9;
}
.bg-transparent {
  background: transparent;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 0;
  gap: 0.5rem;
  text-align: left;
}
ul li,
ol li {
  color: var(--off-black);
  font-size: 1.125rem;
  line-height: 150%;
  text-align: left;
  padding-left: 0.25rem;
  transform: translateX(-0.25rem);
}
ul li span,
ol li span {
  font-weight: 500;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ul.list-none {
  list-style-type: none;
}

.list {
  display: flex;
  flex-direction: column;
  line-height: 150%;
  list-style-type: decimal;
  margin: 0;
  padding-left: 24px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.list.margin-bottom {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}
.list.margin-bottom._0 {
  align-items: flex-start;
  align-self: auto;
  flex: 0 auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.list.numerical {
  padding-left: 21px;
  padding-bottom: 0;
}
.list._8px {
  align-items: flex-start;
  align-self: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  list-style-type: disc;
  padding-left: 18px;
  text-align: left;
}
.list._8px.numbered {
  list-style-type: decimal;
  padding-left: 24px;
}
.list._24px {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.hide {
  display: none !important;
  overflow: hidden;
}

/*# sourceMappingURL=main-postup.css.map */
