/* Error: Undefined variable.
 *    ,
 * 93 |   color: $primary-color;
 *    |          ^^^^^^^^^^^^^^
 *    '
 *   public/scss/abstracts/_variables.scss 93:10    @import
 *   public/scss/abstracts/_all-abstracts.scss 2:9  @import
 *   public/scss/main.scss 1:9                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 93 \2502    color: $primary-color;\a    \2502           ^^^^^^^^^^^^^^\a    \2575 \a   public/scss/abstracts/_variables.scss 93:10    @import\a   public/scss/abstracts/_all-abstracts.scss 2:9  @import\a   public/scss/main.scss 1:9                      root stylesheet";
}
