/* Error: Undefined variable.
 *   ,
 * 6 |   max-width: $content-max-width;
 *   |              ^^^^^^^^^^^^^^^^^^
 *   '
 *   public/scss/postup/_day-01.scss 6:14     @import
 *   public/scss/postup/_all-postup.scss 1:9  @import
 *   public/scss/main-postup.scss 1:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 6 \2502    max-width: $content-max-width;\a   \2502               ^^^^^^^^^^^^^^^^^^\a   \2575 \a   public/scss/postup/_day-01.scss 6:14     @import\a   public/scss/postup/_all-postup.scss 1:9  @import\a   public/scss/main-postup.scss 1:9         root stylesheet";
}
