.center {
	align-items: center;
	justify-content: center;
}

.align-self-center {
	align-self: center;
}

.space-between {
	justify-content: space-between;
}

.justify-self-center {
	justify-self: center;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-items: center !important;
	justify-content: center !important;
}

.text-center {
	text-align: center;
}

.items-center {
	align-items: center;
	justify-content: center;
}

.items-start {
	align-items: start;
}
