// Margin bottom
.mb {
	&-0 {
		margin-bottom: 0rem !important;
	}
	&-8 {
		margin-bottom: 0.5rem !important;
	}
	&-16 {
		margin-bottom: 1rem !important;
	}
	&-24 {
		margin-bottom: 1.5rem !important;
	}
	&-32 {
		margin-bottom: 2rem !important;
	}
	&-40 {
		margin-bottom: 2.5rem !important;
	}
	&-48 {
		margin-bottom: 3rem !important;
	}
	&-56 {
		margin-bottom: 3.5rem !important;
	}
	&-64 {
		margin-bottom: 4rem !important;
	}
	&-80 {
		margin-bottom: 5rem !important;
	}
}

.ml {
	&-24 {
		margin-left: 1rem;
	}

	&-64 {
		margin-left: 4rem;
	}
}

// Margin
.margin-0 {
	margin: 0 !important;
}

.margin-auto {
	margin: auto !important;
}

.mv-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.mh-auto {
	margin-left: auto;
}

// Margin vertical
@mixin mv($size) {
	margin-top: $size !important;
	margin-bottom: $size !important;
}

.mv {
	&-8 {
		@include mv(0.5rem);
	}
	&-16 {
		@include mv(1rem);
	}
	&-24 {
		@include mv(1.5rem);
	}
	&-32 {
		@include mv(2rem);
	}
	&-40 {
		@include mv(2.5rem);
	}
	&-48 {
		@include mv(3rem);
	}
	&-56 {
		@include mv(3.5rem);
	}
	&-64 {
		@include mv(4rem);
	}
}

// Margin-top
.mt {
	&-0 {
		margin-top: 0 !important;
	}

	&-8 {
		margin-top: 0.5rem !important;
	}

	&-16 {
		margin-top: 1rem !important;
	}

	&-24 {
		margin-top: 1.5rem !important;
	}

	&-32 {
		margin-top: 2rem !important;
	}

	&-40 {
		margin-top: 2.5rem !important;
	}
}

// Padding
.padding {
	&-40 {
		padding: 2.5rem !important;
	}
}

.pt {
	&-32 {
		padding-top: 2rem !important;
	}
}

.pb {
	&-0 {
		padding-bottom: 0 !important;
	}

	&-16 {
		padding-bottom: 1rem !important;
	}

	&-32 {
		padding-bottom: 2rem !important;
	}

	&-48 {
		padding-bottom: 3rem !important;
	}
}

.pv {
	&-16 {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	&-32 {
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
	}
}

// Gap
.gap {
	&-8 {
		gap: 0.5rem !important;
	}
	&-16 {
		gap: 1rem !important;
	}
	&-24 {
		gap: 1.5rem !important;
	}
	&-32 {
		gap: 2rem !important;
	}
	&-40 {
		gap: 2.5rem !important;
	}
	&-64 {
		gap: 4rem !important;
	}
	&-80 {
		gap: 5rem !important;
	}
}
