$diner-trends-border: 1px solid $black;

.diner-trends-grid {
  @include grid-container(
    2,
    auto,
    0.5rem,
    0.5rem
  ); // 3 columns, auto rows, 20px gaps
  // Using the grid-item mixin for the items
  max-width: $content-max-width;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  > div {
    // border: $diner-trends-border;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    background-color: $lightest-grey;

    > p {
      color: $black;
      text-align: left;
      flex: 0 auto;
      align-self: auto;
      margin: 0;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 150%;

      strong {
        color: $emphasis-blue;
      }
    }
  }
  .item-5 {
    @include grid-item(2, 1);
    > p {
      margin-bottom: 1.5rem;
      text-align: center;
      font-weight: 550;
    }
  }
}

.dining-factors-grid {
  @include flex(row, 1rem, stretch);
  text-align: center;

  > div {
    @include flex(row, 1rem);
    width: 100%;

    > div {
      text-align: center;

      p {
        color: $emphasis-blue;
        text-align: center;
        flex: 0 auto;
        margin-bottom: 0;
        font-size: 1.125rem;
        font-weight: 500;
      }
    }

    .dining-factors-icon {
      width: 5rem;
      margin-bottom: 0.5rem;
    }

    .ic-dining-factors-location {
      width: 4.5rem;
      margin-bottom: 1rem;
    }
  }
}

.dining-factors-number {
  font-size: 1.3rem;
  color: $off-black;
  font-weight: 400;
}

.blockquote-statistic-highlight {
  margin: 0;

  .blockquote-content {
    margin: 0;
    @extend %pv-16;
    border-color: $medium-light-grey;
    background-color: transparent;
    color: $black;
  }
  
}
.blockquote-text {
  margin: 0;
  color: $black;
}
