.interview-quotes-wrapper {
	width: 90vw;
	margin: auto;
	max-width: 56rem;

	> .img-quotation-mark {
		margin: 0;
		margin-bottom: 1rem;
		max-width: 5rem;
	}

	.grid-container {
		display: grid;
		grid-template-rows: auto;
		width: 100%;
		margin: auto;
	}

	.quote-grid-item {
		display: grid;
		grid-template-columns: 3fr 2.5rem 7fr;
		grid-template-columns: 3fr 7fr;
		column-gap: 1.25rem;
		align-items: center;
		padding: 2rem 0;

		&:nth-child(n + 2) {
			border-top: 1px solid $medium-light-grey;
		}

		> div:first-child {
			p {
				color: $black;
				font-size: 1.5rem;
				font-weight: 500;
				line-height: 150%;
				margin-bottom: 0;
				margin-top: 0;
				text-align: left;
			}
		}

		.img-interviewee {
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 25px;
			margin: auto 0 0 0;
		}

		&.item-1 {
			padding-top: 0 !important;
		}

		.item-6 {
			padding-bottom: 0;
		}
	}
}
