.sitemap_wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;
	gap: 0.5rem;
	@extend %mb-16;
	max-width: 95%;

	@include breakpoint(xxl) {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto;
	}

	.headline {
		font-weight: 500;
		&::first-letter {
			text-transform: capitalize;
		}
		color: $black;
	}

	ul {
		margin: 0;
		width: 100%;
	}

	li {
		color: $dark-grey;
	}

	@include breakpoint(med) {
		flex-direction: row;
	}

	.icon {
		margin-bottom: 0.5rem;
	}

	.card-vertical.sitemap {
		background-color: white;
		width: 15rem;
	}

	color: $black;

	// 	#grid-item-4 {
	// 		grid-column: 1 / 2;
	// 		grid-row: 2 / 3;
	// 	}
	//
	//     #grid-item-5 {
	//         grid-column: 2 / 3;
	//
	//     }
}

.img-sitemap {
	background-color: #fff;
	padding: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
