// .route-1-sketches-all_wrapper {
// 	border-radius: 3px;
// 	margin-top: 0.5rem;
// 	margin-bottom: 1rem;
// 	padding: 1rem;
// 	background-color: $dark-grey;
// }

.route-1-sketches_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-top: 0;
	margin-bottom: 3rem;
}

.sketches-walkthrough_grid-container {
	display: grid;
	grid-template-columns: 1.25fr 2fr;
	gap: 1rem;
	margin-bottom: 3rem;
}

.sketches-walkthrough_content {
	padding-left: 1.5rem;
	ol {
		font-weight: 500;

		li {
			color: $black !important;

			p:first-child {
				@extend .subheading;
			}
		}
	}

	.subheading {
		font-size: 1.125rem;
	}
}

.sketches-walkthrough_heading-container {
	border-bottom: 1px solid $dark-grey;
	margin-bottom: 2rem;
	margin-top: 2rem;

	p {
		margin-bottom: 0.5rem;
		font-size: 1.25rem;
		color: $medium-grey;
		font-weight: 500;
	}
}

.section-subheading.sketches {
	margin-bottom: 2rem;
}
