// .route-1-sketches-all_wrapper {
// 	border-radius: 3px;
// 	margin-top: 0.5rem;
// 	margin-bottom: 1rem;
// 	padding: 1rem;
// 	background-color: $dark-grey;
// }

.route-1-sketches_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

.sketches-walkthrough_grid-container {
	display: grid;
	grid-template-columns: 1.25fr 2fr;
	gap: 2rem;
	margin-bottom: 3rem;
}

.sketches-walkthrough_content {
	ol {
		margin: 0;
		font-weight: 500;

		li {
			color: $black !important;

			p:first-child {
				@extend .subheading;
			}
		}
	}

	.subheading {
		font-size: 1.125rem;
	}
}

.sketches-walkthrough_heading-container {
	border-bottom: 1px solid $dark-grey;
	margin-bottom: 2rem;
	margin-top: 2rem;

	p {
		margin-bottom: 0.5rem;
		font-size: 1.25rem;
		font-weight: 500;
	}
}

.section-subheading.sketches {
	margin-bottom: 2rem;
}

.route-2-sketches_grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;
	column-gap: 1.5rem;
	row-gap: 1rem;
	align-items: center;
	text-align: center;

	p {
		font-size: 1rem;
	}
}

.sketches-walkthrough_flex-container {
	display: flex;
	flex-direction: row;
	margin: auto;
	gap: 2rem;
	width: 95%;
	max-width: 80rem;
}

.sketches-walkthrough__card {
	@extend .card-vertical;
	display: flex;
	height: fit-content;
	margin-top: 0;
	width: 20rem;
	background-color: $light-grey;
}

.sketches-walkthrough__card--subheader {
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'Source Code Pro', monospace;
	color: $medium-grey;
	margin: 0;
	letter-spacing: 1px;
}

.sketches-walkthrough__card--headline {
	font-size: 1.5rem;
	color: $black;
	margin: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.sketches-walkthrough__card--list {
	width: 100%;
	margin: 0;
	list-style-type: none;
	font-weight: 400;

	li {
		font-weight: 400;
	}
}
