.flex {
  flex-flow: wrap;
  flex: 1;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-block {
  align-items: center;
}

.flex, .flex-column, .flex-row {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.flex.horizontal, .flex.vertical {
  grid-column-gap: 0;
  grid-row-gap: 0;
  flex: 1;
  max-width: none;
}

.flex.horizontal._16px, .flex.vertical._16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.flex.horizontal._24-px, .flex.vertical._24-px {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 0 auto;
  justify-content: space-between;
  display: flex;
}

.flex.horizontal._40-px {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.flex.horizontal._64-px {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
}

.flex.column-gap-8px {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.flex.vertical._16px, .flex.vertical._24-px {
  background-color: var(--transparent);
  border-radius: 15px;
  margin-top: 0;
}

.flex.vertical._16px.grow, .flex.vertical._24-px.shrink {
  flex: 1;
  justify-content: flex-start;
  align-self: stretch;
  width: 100%;
}

.flex.vertical._16px.grow.sample {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.flex.vertical._4px, .flex.vertical._8px {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex: 1;
  align-self: stretch;
  align-items: stretch;
}

.flex.vertical._4px.align-top, .flex.vertical._8px.align-top {
  align-self: flex-start;
}

.flex.vertical._24-px.align-top {
  align-self: flex-start;
}

.flex.vertical._16px.align-top._50 {
  min-width: 0%;
}

.flex.vertical._40px {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.flex.vertical.width-auto {
  flex: 0 auto;
  align-items: center;
  width: auto;
  min-width: 112px;
  max-width: 112px;
}

.flex.gap-24px, .flex.column-gap-0, .flex.research-strategy {
  display: flex;
  justify-content: center;
}

.flex.gap-24px {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.flex.column-gap-0 {
  grid-column-gap: 0;
  grid-row-gap: 0;
  flex-direction: column;
}

.flex.research-strategy {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
}

.flex._8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: nowrap;
  align-items: stretch;
}

.flex._8px.wrap {
  border-style: dashed dashed dashed solid;
  border-width: 0;
  border-color: var(--blue-accent);
  background-color: var(--light-blue);
  flex-wrap: wrap;
}

.flex.align-center {
  flex-flow: row;
  justify-content: center;
}

.flex.border-bottom {
  border-bottom: 1px solid #000;
  max-width: none;
}

.mb-8 {
  margin-bottom: 0.5rem;
}
.mb-16 {
  margin-bottom: 1rem;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.mb-32 {
  margin-bottom: 2rem;
}
.mb-40 {
  margin-bottom: 2.5rem;
}
.mb-64 {
  margin-bottom: 4rem;
}
.mb-80 {
  margin-bottom: 5rem;
}

.gap-8 {
  gap: 0.5rem;
}
.gap-16 {
  gap: 1rem;
}
.gap-24 {
  gap: 1.5rem;
}
.gap-32 {
  gap: 2rem;
}
.gap-40 {
  gap: 2.5rem;
}
.gap-64 {
  gap: 4rem;
}
.gap-80 {
  gap: 5rem;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.teal {
  color: #45b5aa;
}

.yellow {
  color: #f0c05a;
}

.red-orange {
  color: #e2583e;
}

.tan {
  color: #decdbd;
}

.dark-grey {
  color: #565656;
}

.off-black {
  color: #4a4a4a;
}

.emphasis-blue {
  color: #4479df;
}

.medium-grey {
  color: #757575;
}

.lightest-grey {
  color: #f9f9f9;
}

.invalid-red {
  color: #dc1d25;
}

.medium-light-grey {
  color: #dbdbdb;
}

.light-grey {
  color: #f0f0f0;
}

.light-blue {
  color: #e7ecff;
}

.black {
  color: #1e1e1e;
}

.sub-grey {
  color: #cfcfcf;
}

.emphasis {
  color: #e2583e;
}

.white {
  color: #ffffff;
}

:root {
  --primary-color: #076261;
}

.interview-quotes.column-grid {
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: "1fr 2fr 1fr 3fr";
}

.interview-quotes.row-grid {
  display: grid;
  grid-gap: 0 0;
  grid-template-rows: "repeat(3, auto)";
}

/*# sourceMappingURL=postup-casestudy.css.map */
