$tab-border-radius: 2rem;

.tabs-container {
  width: $content-max-width;
  margin-top: 2rem;
  margin: auto;
}

.tabs-menu {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #12181f;
  padding: 0.5rem;
  overflow: hidden;
  width: 100%;
  height: 3.5rem;
  border-radius: $tab-border-radius;
  // box-shadow: 0 0 1px 0 rgba($off-black, 0.10), 0 6px 8px px rgba($off-black, 0.20);

  .slider {
    position: absolute;

    border-radius: $tab-border-radius;
    height: 2.5rem;
    background-color: #333;
    box-shadow: 0 0 1px 0 rgba(#fff, 0.8), 0 6px 8px px rgba(#fff, 0.80);
    width: 25%;
    transition: left 0.3s ease;
  }
}

// Tab content
.tab-content {
  display: none;
  padding: 2rem 1rem;
  padding-bottom: 0;

  > div, 
  blockquote {
    margin-bottom: 2rem;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.tab-content.active {
  display: block;
}

// Individual tabs
.tab-button {
  display: flex;
  width: 25%;
  align-items: center;
  cursor: pointer;
  border-radius: $tab-border-radius;
  height: 2.5rem;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: transparent;

  p {
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #e9e9e9;
    font-size: 1.2rem;
    z-index: 2;
  }

  &.active {
    p {
      color: white;
      font-weight: 500;
      margin: auto 0;
    }
  }

  &:hover {
    p {
      color: white;
      font-weight: 500;
      margin: auto 0;
    }
  }
}

// Tab content grid
.tab-content-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;

  img {
    margin: 0;
    width: 100%;
  }

  p {
    margin-bottom: 0.5rem;
  }

  p:last-child {
    margin: 0;
  }
}

.img-sketch-filters {
  align-self: auto;
  border-bottom: 2px solid #000;
  flex: 0 auto;
  max-width: 221px;
}

.tab2-list {
  font-size: 1.125rem;
  line-height: 150%;

  li {
    padding-bottom: 1rem;
  }
}
// Tab content
.tab-subheading {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 130%;
  color: $black;
  font-size: 1.3rem;
  text-decoration: none;
}