.flex {
	&-row {
		display: flex;
		flex-direction: row;
	}

	&-row-reverse {
		display: flex;
		flex-direction: row-reverse;
	}

	&-col {
		display: flex;
		flex-direction: column;
	}

	&-col-reverse {
		display: flex;
		flex-direction: column-reverse;
	}

	&-wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&-wrap-reverse {
		display: flex;
		flex-wrap: wrap-reverse;
	}

	&-nowwrap {
		display: flex;
		flex-wrap: nowrap;
	}
}

.row-evenly {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.gap {
	&-8 {
		gap: 0.5rem;
	}

	&-16 {
		gap: 1rem;
	}

	&-24 {
		gap: 1.5rem;
	}

	&-32 {
		gap: 2rem;
	}

	&-40 {
		gap: 2.5rem;
	}
}
