$black: #1e1e1e;
$dark-grey: #565656;
$emphasis-blue: #4479df;
$emphasis: #e2583e;
$grey: #999999;
$invalid-red: #dc1d25;
$light-blue: #e7ecff;
$light-grey: #f0f0f0;
$lightest-grey: #f9f9f9;
$medium-grey: #757575;
$medium-light-grey: #dbdbdb;
$off-black: #4a4a4a;
$primary-bg: #ffdc93;
$pure-black: #000;
$red-orange: #e2583e;
$sub-grey: #cfcfcf;
$tan: #decdbd;
$teal: #45b5aa;
$yellow: #f0c05a;