//Media breakpoints
$breakpoints: (
	mobile-sm: 320px,
	mobile-med: 375px,
	mobile-lg: 425px,
	sm: 576px,
	med: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

@mixin breakpoint($name) {
	@if map-has-key($breakpoints, $name) {
		@media (min-width: map-get($breakpoints, $name)) {
			@content;
		}
	} @else {
		@error "Unknown breakpoint: #{$name}. Please use one of: #{map-keys($breakpoints)}.";
	}
}

.mobile-only {
	display: inherit;
	width: 1.5rem;
	height: 1.5rem;
	padding-right: 1rem;
	border-radius: 50px;
	overflow: hidden;

	@include breakpoint(med) {
		display: none !important;
	}
}

.hide {
	display: none !important;
}

@mixin iconSize($size) {
	@if $size == "xs" {
		width: 24px;
		height: 24px;
	} @else if $size == "sm" {
		width: 32px;
		height: 32px;
	} @else if $size == "med" {
		width: 40px;
		height: 40px;
	} @else if $size == "lg" {
		width: 56px;
		height: 56px;
	} @else if $size == "xl" {
		width: 64px;
		height: 64px;
	}
}

// Classes for showing content at different breakpoints
.show-mobile-sm {
	display: none !important;
}
.show-mobile-med {
	display: none !important;
}
.show-mobile-lg {
	display: none !important;
}
.show-sm {
	display: none !important;
}
.show-med {
	display: none !important;
}
.show-lg {
	display: none !important;
}
.show-xl {
	display: none !important;
}
.show-xxl {
	display: none !important;
}

@include breakpoint(mobile-sm) {
	.show-mobile-sm {
		display: inherit;
	}
}

@include breakpoint(mobile-med) {
	.show-mobile-med {
		display: inherit;
	}
}

@include breakpoint(mobile-lg) {
	.show-mobile-lg {
		display: inherit;
	}
}

@include breakpoint(sm) {
	.show-sm {
		display: inherit;
	}
}

@include breakpoint(med) {
	.show-med {
		display: inherit;
	}
}

@include breakpoint(lg) {
	.show-lg {
		display: inherit;
	}
}

@include breakpoint(xl) {
	.show-xl {
		display: inherit;
	}
}
@include breakpoint(xxl) {
	.show-xxl {
		display: inherit;
	}
}

// Classes for hiding content at different breakpoints

@include breakpoint(mobile-sm) {
	.hide-mobile-sm {
		display: none !important;
	}
}

@include breakpoint(mobile-med) {
	.hide-mobile-med {
		display: none !important;
	}
}

@include breakpoint(mobile-lg) {
	.hide-mobile-lg {
		display: none !important;
	}
}

@include breakpoint(sm) {
	.hide-sm {
		display: none !important;
	}
}

@include breakpoint(med) {
	.hide-med {
		display: none !important;
	}
}

@include breakpoint(lg) {
	.hide-lg {
		display: none !important;
	}
}

@include breakpoint(xl) {
	.hide-xl {
		display: none !important;
	}
}

@include breakpoint(xxl) {
	.hide-xxl {
		display: none !important;
	}
}
