.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-col {
    flex-direction: column;
  }

  &-col-reverse {
    flex-direction: column-reverse;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &-nowwrap {
    flex-wrap: nowrap;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-block {
  align-items: center;
}