$primary-color: #4379df;
$light-blue: #dee3f4;
$bg-grey: #f0f0f0;
$wireframe-max-height: 35rem;

.bg-grey {
	background-color: $bg-grey;
}
$medium-grey: #757575;
@import '../scss/abstracts/all-abstracts';

@import '../scss/base/all-base';

@import '../scss/sections/all-sections';

@import '../components/all-components';

@import '../scss/tastebuds/all-tastebuds';

@import '../scss/utilities/all-utilities';

// .route-1-sketches-all_wrapper {
// 	border-radius: 3px;
// 	margin-top: 0.5rem;
// 	margin-bottom: 1rem;
// 	padding: 1rem;
// 	background-color: $dark-grey;
// }

.route-1-sketches_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-top: 1.5rem;
}

.sketches-walkthrough__wrapper {
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid $medium-light-grey;

	&.border-0 {
		border: 0;
	}

	header {
		// border-bottom: 1px solid $dark-grey;
		margin: 0;
		margin-bottom: 1rem;

		p.subheading {
			margin-bottom: 0.5rem;
			font-size: 1.35rem;
			font-weight: 500;
		}
	}
	// Grid container with Gif and 'Features' Card
	.sketches-walkthrough_grid-container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		column-gap: 2rem;
		row-gap: 1rem;
		// align-items: center;
		grid-template-areas: 'a b';
		margin-bottom: 2rem;

		> .sketches-walkthrough_gif {
			grid-area: b;
			border: 1px solid $black;
		}

		> div {
			grid-area: a;
			// padding: 1.5rem 2rem 1.5rem 3rem;
			// border-radius: 0.25rem;
			// height: fit-content;
			// background-color: $light-grey;

			.sketches-walkthrough__card {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 0.5rem;
				padding: 1.5rem 3rem;
				border-radius: 0.25rem;
				height: fit-content;
				background-color: $lightest-grey;
				border-left: 0.5rem solid $emphasis-blue;
				margin-top: 1.5rem;
				max-width: 25rem;
			}
			.card--list {
				align-self: start;

				.card--headline {
					color: $emphasis-blue;
					font-weight: 500;
					margin-bottom: 0;
					font-size: 1.25rem;
				}

				li {
					font-size: 1.125rem;
				}
			}
		}
	}
}

.sketches-walkthrough_content {
	ol {
		margin: 0;
		font-weight: 500;

		li {
			color: $black !important;

			p:first-child {
				@extend .subheading;
			}
		}
	}

	.subheading {
		font-size: 1.125rem;
	}
}

.section-subheading.sketches {
	margin-bottom: 2rem;
}

.sketches-walkthrough_img--flow {
	width: 50rem;
}

.header-container.tastebuds {
	margin-bottom: 1rem;
}
