$primary-color: #076261;
$medium-grey: #757575;
$wireframe-max-height: 35rem;

@import '../scss/abstracts/all-abstracts';

@import '../scss/base/all-base';

@import '../scss/sections/all-sections';

@import '../components/all-components';

@import '../scss/postup/all-postup';

@import '../scss/utilities/all-utilities';
