/* Heading and paragraph base styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: inherit;
  margin-top: 0;
}

.paragraph {
  font-size: 1.125rem;
  font-weight: 400;
  color: $dark-grey;
  line-height: 145%;
  margin-bottom: 1.125rem;
  font-family: "Inter", sans-serif;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  color: $dark-grey;
  line-height: 145%;
  margin-bottom: 1.125rem;
}

/* Specific heading styles with colors and sizes */
h1 {
  font-size: 3.25rem; /* Example size, adjust as necessary */
  color: $black; /* Assuming a color variable, adjust as needed */
  margin-bottom: 0.5rem;
}

h2 {
  color: $black;
  flex: 1;
  font-size: 2.986rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 1.5rem;
}

h3 {
  color: $primary-color;
  letter-spacing: 0;
  text-transform: none;
  font-size: 2.488rem;
  font-weight: 600;
  line-height: 130%; /* Slightly adjusted for better readability */
  margin-bottom: 1.5rem;
}

h4 {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 120%;
  color: var(--black); /* CSS variable, ensure it's defined in your styles */
  font-size: 1.266rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 14px;
  line-height: 120%;
  color: $black; /* Assigning a color variable, assuming you need it */
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1rem; /* Smallest heading, specify if needed */
  line-height: 120%;
  color: $primary-color; /* Example, adjust as necessary */
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.noto-serif {
  color: $black;
  font-family: "Noto Serif", serif;
  font-size: 1.125rem;
  font-weight: 350;
  line-height: 160%; // 28.8px
}

.quote-text {
    font-family: "Noto Serif", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 160%;
    margin-bottom: 1rem;
    margin-top: 0;
    overflow-wrap: normal;
    width: 100%;
    text-align: left;
    color: $medium-grey;
}

.secondary-text {
  color: $black;
  font-size: 1.665rem;
  font-weight: 500;
  line-height: 135%;
  margin-bottom: 1.75rem;
}

.fw-medium {
  color: $black;
  font-weight: 500;
}

.notes {
  color: #00bdd6;
  font-family: Noto Serif, sans-serif;
}

.subheading {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 130%;
  color: var(--black);
  font-size: 1.266rem;
  text-transform: uppercase;
}

.secondary-text.small {
  color: $black;
  font-size: 1.424rem;
  font-weight: 500;
  line-height: 115%;
  margin-bottom: 1rem;
  letter-spacing: 0rem;
}
