.design-walkthrough_grid-1-col {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	margin: auto;
	row-gap: 2rem;
	width: $content-max-width;

	video {
		max-height: $wireframe-max-height;
		width: fit-content;
	}

	.subheading {
		margin-bottom: 0.5rem;
	}

	div {
		display: block;
		flex-direction: column;
		height: fit-content;
		max-width: 22rem;
	}
}
