$design-walkthrough-carousel-width: 60rem;

.design-walkthrough-carousel {
	box-sizing: border-box;
	gap: 3rem !important;
	align-items: center;
	padding: 5rem 0;
	padding-bottom: 3rem;
	width: 100%;
	overflow: hidden;

	header {
		display: flex;
		position: absolute;
		left: 4rem;
		height: 711px;
	}

	h3 {
		align-self: center;
	}
}

.design-walkthrough-carousel_content-wrapper {
	width: $design-walkthrough-carousel-width;
	margin: auto;
	justify-content: start;
	align-items: stretch;
}

$side-content-width: 20rem;

.design-walkthrough-carousel_caption {
	margin-top: 2rem;
	p {
		color: white;
		text-align: center;
		margin-bottom: 0;
	}
}

.design-walkthrough-carousel_header {
	width: 90%;
	margin: auto;
	max-width: 90rem;
}

.design-walkthrough-carousel_container {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
	align-items: center;
	width: $design-walkthrough-carousel-width;
}

.design-walkthrough-carousel_track {
	display: flex;
	transition: transform 0.3s ease-in-out;
	width: $design-walkthrough-carousel-width;

	&.grabbing {
		cursor: grab;
	}
}

.design-walkthrough-carousel_slide {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-right: 4rem;
	box-sizing: border-box;
	background-color: #f4f4f4;
	padding: 2.5rem 4rem;
	color: white;
	border-radius: 2rem;
	flex: 0 0 auto;
	width: $design-walkthrough-carousel-width;
	// max-width: $design-walkthrough-carousel-width;

	&.last-slide {
		margin-right: 0 !important;
	}
}

.design-walkthrough-carousel-slide_content {
	width: 30rem;

	.subheading {
		font-size: 1.5em;
	}

	p {
		font-size: 1.125rem;
	}

	.testing-outcomes-card {
		width: 20rem;
	}

	.testing-outcomes-icon-invalidation {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.design-walkthrough-carousel_video-controls {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	margin-top: 2rem;
	overflow: hidden;

	.play-pause-button,
	.reset-button {
		display: flex;
		flex-shrink: 0;
		border-radius: 100%;
		margin: 0;
		cursor: pointer;
		transition: background-color 100ms linear;
		justify-content: center;
		align-items: center;
		background-color: transparent;
	}

	.play-pause-button .img-play-button,
	.play-pause-button .img-pause-button,
	.reset-button img {
		opacity: 1;
		border-radius: 100%;
		overflow: hidden;
	}

	.play-pause-button:hover {
		background-color: #d8d8d8;
		img {
			opacity: 0.75;
		}
	}

	.reset-button {
		border-radius: 50px;
		height: 2.5rem;
		width: 2.5rem;
	}

	.img-reset-button {
		width: 1.5rem;
	}

	.reset-button:hover {
		background-color: #6f6f6f;
	}

	.play-pause-button {
		background-color: #efefef;
		border-radius: 100%;
	}

	.pagination-wrapper {
		border-radius: 2rem;
		background-color: #efefef;
		width: min-content;
		margin: 0;
		padding: 0.5rem;

		.dotnav-items {
			display: flex;
			flex-direction: row;
			list-style: none;
			margin: 0;
			gap: 0;
			padding: 0;
			text-align: center;

			.dotnav-item {
				display: inline-flex;
				padding: 0.5rem;
				margin: 0;
				transition: background-color 100ms linear;
				cursor: pointer;
				transform: none;

				.dot {
					position: relative; // Necessary for positioning the progress bar
					width: 0.5rem;
					height: 0.5rem;
					background-color: #8e8e8e;
					border-radius: 1rem;
					transition: width 100ms linear;
					overflow: hidden;

					&.active {
						background-color: #8e8e8e;
						width: 2.5rem;
						height: 0.5rem;
						border-radius: 1rem;
						overflow: hidden;
						cursor: default;
					}
				}

				.progress-bar {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					background-color: #333; // Progress bar color
					width: 0;
					transition: width 0.1s linear;
				}

				&:hover .dot:not(.active) {
					background-color: #565656;
				}
			}
		}
	}
}

.fz-24 {
	font-size: 1.25rem;
}

.fz-48 {
	font-size: 2.5rem;
}

.fz-3rem {
	font-size: 3rem;
}
