$design-walkthrough-carousel-width: 55rem;

.design-walkthrough-carousel_wrapper {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	margin: auto !important;
	gap: 3rem !important;
	align-items: center;
	padding: 5rem 0;
	overflow: hidden;
	padding-bottom: 2.5rem;
	width: 100vw;

	header {
		display: flex;
		position: absolute;
		left: 4rem;
		height: 711px;
	}

	h3 {
		align-self: center;
	}
}

.design-walkthrough-carousel_content-wrapper {
	display: flex;
	flex-direction: row;
	gap: 2.5rem;
	width: 70%;
	max-width: calc($design-walkthrough-carousel-width + 10rem);
	margin: auto;
	justify-content: start;
	align-items: center;

	.side-content {
		width: 20rem;

		p {
			color: white;
		}
	}
}

.design-walkthrough-carousel_header {
	width: 90%;
	max-width: $design-walkthrough-carousel-width;
	margin: auto;
	max-width: 90rem;
}

.design-walkthrough-carousel_container {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
	width: 100%;
	align-items: center;
	overflow: hidden;
	max-width: calc($design-walkthrough-carousel-width + 10rem);
}

.design-walkthrough-carousel_track {
	display: flex;
	transition: transform 0.3s ease-in-out;
	width: 100%;
	max-width: $design-walkthrough-carousel-width;

	&.grabbing {
		cursor: grab;
	}
}

.design-walkthrough-carousel_slide {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	align-items: center;
	justify-content: center;
	margin-right: 4rem;
	box-sizing: border-box;
	background-color: #f0f0f0;
	padding: 4rem 2.5rem;
	color: white;
	border-radius: 2rem;
	flex: 0 0 auto;
	width: 100%;
	max-width: $design-walkthrough-carousel-width;

	&.last-slide {
		margin-right: 0 !important;
	}
}

.design-walkthrough-carousel-slide_content {
	width: 20rem;

	.subheading {
		font-size: 1.5em;
	}

	p {
		font-size: 1.25rem;
	}

	.testing-outcomes-card {
		width: 20rem;
	}

	.testing-outcomes-icon-invalidation {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.design-walkthrough-carousel_video-controls {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	height: 4rem;
	margin-top: 2.5rem;
	overflow: hidden;

	.play-pause-button,
	.reset-button {
		display: flex;
		flex-shrink: 0;
		border-radius: 100%;
		margin: 0;
		cursor: pointer;
		transition: background-color 100ms linear;
		justify-content: center;
		align-items: center;
		background-color: transparent;
	}

	.play-pause-button img.play-button,
	.play-pause-button img.pause-button,
	.reset-button img {
		opacity: 1;
		border-radius: 100%;
		overflow: hidden;
	}

	.play-pause-button.hover:hover {
		background-color: #d8d8d8;
		img {
			opacity: 0.75;
		}
	}

	.reset-button.hover:hover {
		background-color: #6f6f6f;
	}

	.play-pause-button {
		background-color: #fff;
		border-radius: 100%;

		.play-button {
			height: 2.5rem;
		}
	}

	.pagination-wrapper {
		border-radius: 2rem;
		background-color: #fff;
		width: min-content;
		margin: 0;
		padding: 0.5rem;

		ul.dotnav-items {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-items: center;
			list-style: none;
			margin: 0;
			gap: 0;

			li.dotnav-item {
				display: inline-flex;
				cursor: pointer;
				padding: 0.5rem;
				margin: 0;
				transition: background-color 100ms linear;

				.dot {
					width: 0.5rem;
					height: 0.5rem;
					background-color: #8e8e8e;
					border-radius: 1rem;
					transition: width 100ms linear;

					&.active {
						background-color: #333;
						width: 2.5rem;
						height: 0.5rem;
					}
				}

				&:hover {
					.dot {
						background-color: #565656;
					}
				}
			}
		}
	}
}

.fz-3rem {
	font-size: 3rem;
}
