.container {
	background-color: #1f1f1f;
	border-radius: 10px;
	padding: 1rem 1.25rem;
	border: 0;
	margin-top: 0.5rem;

	button {
		width: 100%;

		&:hover {
			opacity: 0.7;
		}
	}
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding-bottom: 0;
	border-radius: 10px;
	cursor: pointer;
	background-color: #1f1f1f;
}

.label {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 130%;
	text-align: left;
	margin: 0;
	flex: 1;
	color: white;
}

.icon {
	transition: transform 0.4s;
	width: 1.5rem;
	height: 1.5rem;
	margin: auto;
}

.content {
	transition: max-height 0.2s ease-out;

	p {
		margin-top: 0.5rem;
		color: white;
		text-align: left;
	}

	p:last-child {
		margin-bottom: 0.25rem;
	}
}

.rotate {
	transform: rotate(-180deg);
}
