.bg-f6f6f6 {
	background-color: #f6f6f6;
}

.designWalkthroughGrid_wrapper {
	margin: auto;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid $medium-light-grey;

	&.border-0 {
		border: 0;
	}

	header {
		// border-bottom: 1px solid $dark-grey;
		margin: 0;
		margin-bottom: 1rem;
	}

	> .subheading {
		margin-bottom: 1rem;
		font-size: 1.35rem;
		font-weight: 500;
	}
}

// Grid container with Gif and 'Features' Card
.designWalkthroughGrid_container {
	&_grid-container {
		display: grid;
		grid-template-columns: 3fr 2fr;
		grid-template-rows: auto;
		column-gap: 2rem;
		row-gap: 1rem;
		// align-items: center;
		grid-template-areas: "a b";
		margin-bottom: 2rem;
	}

	> .featuredMedia {
		grid-area: b;
		width: 15rem;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.designWalkthroughGrid_content {
	grid-area: a;
	width: 24rem;

	header > .subheading {
		font-size: 1.35rem;
	}
}

.designWalkthroughGrid_card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
	padding: 1.5rem 3rem;
	border-radius: 0.25rem;
	height: fit-content;
	background-color: $lightest-grey;
	border-left: 0.5rem solid $emphasis-blue;
	margin-top: 2rem;
	max-width: 24rem;

	.card_list {
		align-self: start;
	}

	.card_headline {
		color: $emphasis-blue;
		font-weight: 500;
		margin-bottom: 0;
		font-size: 1.25rem;
	}

	li {
		font-size: 1.125rem;
	}
}

.featuredMedia {
	width: 18rem;
	&.border {
		border: 1px solid $black;

		&.low-fidelity {
			border-radius: 1rem;
			border: 1.5px solid $off-black;
		}
	}
}

.video-complete-flow {
	width: 20rem;
	margin: auto;

	> video {
		width: 100%;
	}
}

.small-caption {
	font-size: 1rem;
}
