.content,
.subsection,
.section-container
.container-full-width {
:first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.subsection,
.section-container,
.container-full-width {
  .content:first-child {
    margin-top: 0;
  }
}

.content {
  display: block;
  max-width: $content-max-width;
  width: 90vw;
  margin: auto;
  align-items: left;
  margin-top: 1.5rem;

  img,
  figure {
    margin-bottom: 2.5rem;
  }

  &.medium {
    max-width: 1000px;
  }

  &.large {
    max-width: 1200px;
  }

  &.xl {
    max-width: 1400px;
  }
}

.block-container {
  display: block;
}

.flex-container {
  display: flex;
}

.text-block {
  p:last-child {
    margin-bottom: 0;
  }
}

img {
  margin: 1.625rem 0;
}

.container-full-width {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $lightest-grey;
  margin: 2.5rem 0;
  width: 100vw;
  padding: 4rem 0;

  .content-wrapper {
    div {
      margin: auto;
    }
  }

  &.transparent {
    background-color: transparent;
  }
}

header {
  display: block;
  max-width: $content-max-width;
  width: 90vw;
  margin: 0 auto;
  padding: 0;
}

.subheader {
  color: $medium-grey;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 125%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.img-sprint-schedule {
  max-width: 32rem;
  width: 100%;
  margin: 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  width: 100%;

  .header-h2 {
    margin-bottom: 2rem;
  }

  .subsection {
    display: block;
    margin: auto;
    padding: 0;
    margin-bottom: 4rem;

    .header-h3 {
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }
  }

  .subsection:last-child {
    margin-bottom: 0;
  }

  &.lightest-grey {
    background-color: $lightest-grey;
  }

  &.border {
    border-bottom: 1px solid $light-grey;
  }
}
