

// .resource-constraints-grid {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   column-gap: 1rem;

//   li:nth-child(5),
//   li:nth-child(6) {
//     margin-bottom: 0;
//   }
// }

.constraint-grid-container {
  .subheading {
    margin-bottom: 0;
  }

  @include breakpoint(med) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
    padding: 2rem;
    background-color: $lightest-grey;
    width: fit-content;

    ul {
      margin-bottom: 0;
      margin-top: 0.5rem;
      
      li {
        line-height: 160%;
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
    
    img {
      margin-right: auto;
      width: 3.5rem;
      opacity: 0.7;
    }
  }
  // @include breakpoint(med) {
  //   margin-bottom: 2rem;
  //   display: grid;
  //   grid-template-columns: 0.75fr 5fr;
  //   grid-template-rows: auto;
  //   column-gap: 2rem;

  //   ul {
  //     margin-bottom: 0;

  //     li:last-child {
  //         margin-bottom: 0;
  //     }
  //   }
  //   img {
  //     margin: auto;
  //   }
  // }
}

.constraints-flex-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;

  // .constraint-grid-container {
  //   width: 100%;
  // }

  // > div:last-child {
  //   display: flex;
  //   gap: 0.5rem;
  // }
}

