#the-constraints {
  .subheading {
    margin-bottom: 0;
  }

  ul {
    margin: 0.5rem 0;
    list-style: disc outside none;
  }

  li {
    line-height: 150%;
    margin-bottom: 0.5rem;
  }

}

.constraint-grid-container {
  @include breakpoint(med) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    padding: 1.5rem;
    padding-left: 2.5rem;
    background-color: $lightest-grey;

    ul {
      margin-bottom: 0;

      li:last-child {
        margin-bottom: 0;
      }
    }
    
    img {
      margin-right: auto;
      width: 3.5rem;
      opacity: 0.6;
    }
  }
  // @include breakpoint(med) {
  //   margin-bottom: 2rem;
  //   display: grid;
  //   grid-template-columns: 0.75fr 5fr;
  //   grid-template-rows: auto;
  //   column-gap: 2rem;

  //   ul {
  //     margin-bottom: 0;

  //     li:last-child {
  //         margin-bottom: 0;
  //     }
  //   }
  //   img {
  //     margin: auto;
  //   }
  // }
}

.constraints-flex-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;

  .constraint-grid-container {
    width: 100%;
  }

  > div:last-child {
    display: flex;
    gap: 0.5rem;
  }
}

.resource-constraints-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

