.hero-overview {
  width: 100%;
  border-bottom: 1px solid $medium-light-grey;
}

.section-overview {
  display: flex;
  flex-direction: column;
  flex: content;
  margin: auto;
  padding: 2rem 0;
  width: max-content;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;


    .project-details-container {
      display: flex;
      flex-direction: row;
      width: 50%;
      gap: 4rem;

      .project-details-list {
        p {
          color: #1e1e1e;
          font-size: 1rem;
          font-weight: 500;
          line-height: 125%;
          margin-bottom: 0.25rem;
        }

        ul {
          padding: 0;

          li {
            font-family: $main-font;
            color: $light-grey;
            font-size: 1rem;
            font-weight: 400;
            line-height: 135%;
            text-decoration: none;
            list-style-type: none;
            margin: 0;
          }
        }
      }

      .tools-flex-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-top: 0.75rem;
        gap: 1rem;

        .tool-logo-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 0.625rem;
          overflow: hidden;

          &.canva-app {
            box-shadow: $fixed-shadow;
            border-radius: 10px;

            img {
              width: 3.5rem;
              height: 3.5rem;
            }
          }

          &.figma-app,
          &.miro-app,
          &.whiteBG {
            padding: 0.5rem;
            background: #2e3139;
            box-shadow: $fixed-shadow;
            border-radius: 10px;

            &.miro-app {
              background: #ffd12b;
            }

            &.whiteBG {
              background: #fff;
            }
          }

          img {
            width: 2.5rem;
            height: auto;
            margin: 0;
          }
        }
      }
    }

    .project-title {
      font-family: $main-font;
      color: var(--black);
      font-size: 2.66rem;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.144px;
      margin-bottom: 1rem;
    }

    .project-tagline,
    .tags-wrapper {
      align-self: center;
      color: $light-grey;
      margin: 0 0 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 135%;
    }

    .tags-wrapper {
      display: flex;
      gap: 0.5rem;
      overflow-x: auto;
      white-space: nowrap;
      cursor: pointer;

      .project-tag {
        display: flex;
        height: 2rem;
        align-items: center;
        padding: 0 0.5rem;
        justify-content: center;
        font-size: 0.875rem;
        font-weight: 500;
        border-radius: 0.3125rem;

        &.postup {
          background: #daede9;
          color: #388e7d;
        }
      }
    }

    .scrollable {
      overflow-y: auto;
      scrollbar-width: none;
      -ms-text-overflow: none;
      text-overflow: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .hero-scroll-button-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hero-scroll-arrow {
      display: block;
      margin: 0 auto;
      width: 3rem;
      height: 3rem;
      border: none;
      font-size: 24px;
      cursor: pointer;
      transition: all 0.3s ease;
      background-color: transparent;

      &:hover {
        stroke: $light-grey;
        transform: scale(1.1);
      }

      img {
        height: 3rem;
        width: 3rem;
        background-color: transparent;
        margin: auto;
      }
    }
  }

  @include breakpoint(med) {
    padding: 4rem 0;

    .section-overview-header {
      min-width: 40%;
      max-width: 50%;
    }

    .content-wrapper {
      flex-direction: row;
      gap: 2rem;
      margin: 0 auto;
      width: fit-content;

      .project-title {
        flex: auto;
        color: var(--black);
        font-size: 2.66rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.144px;
        margin-bottom: 1rem;
      }

      .project-tagline {
        align-self: center;
        color: $medium-grey;
        margin: 0 0 1rem;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 135%;
      }

      .scrollable {
        overflow-y: auto;
        scrollbar-width: none;
        -ms-text-overflow: none;
        text-overflow: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .tags-wrapper {
        flex-wrap: wrap;
        margin-bottom: 1rem;

        .project-tag {
          background: rgba(219, 219, 219, 0.5);

          &.postup {
            background: #daede9;
            color: #388e7d;
          }
        }

        &#boardspaceTags {
          .project-tag {
            background: #daede9;
            color: #388e7d;
          }
        }
      }

      .project-details-container {
        width: fit-content;

        .grid-item {
          display: flex;
          flex: auto;
          flex-direction: row;

          .project-details-list {
            flex: 1;

            .project-details-headline {
              color: $black;
              font-size: 1rem;
              font-weight: 500;
              line-height: 125%;
              margin-bottom: 0.5rem;
            }

            ul {
              padding: 0;
              margin: 0 0 8px;

              li {
                color: $medium-grey;
                font-size: 1rem;
                font-weight: 400;
                line-height: 135%;
                text-decoration: none;
                list-style-type: none;
                margin: 0;
              }
            }

            &.project-tools {
              flex: 0 0 auto;
            }

            .tools-flex-container {
              width: fit-content;
              flex-direction: column;
              flex-wrap: wrap;
              gap: 0.5rem;
            }
          }
        }
      }
    }
  }
}
