@import 'diner-trends';
@import 'primary-research';
@import 'likert-scale';
@import 'tabs-surveyResults';
@import 'user-personas';
@import 'narrowingScope';
@import 'definingScope';
@import 'competitorAnalysis';
@import 'card-userflowFeatures';
@import 'sitemap';
@import 'sketches';
@import 'guerilla-testing';

h2 {
	margin-bottom: 0.5rem;
}

.container-full-width.light-blue {
	background-color: #bbdbf5;
}

// .section-subheading {
// 	color: $black !important;
// }

$color_1: #000;
$color_2: inherit;
$color_3: #333;
$color_4: #fff;
$color_5: transparent;
$color_6: #aaadb0;
$color_7: #999;
$color_8: #ea384c;
$color_9: #222;
$color_10: #0082f3;
$color_11: var(--blue-accent);
$color_12: #757575;
$color_13: var(--medium-light-grey);
$color_14: var(--black);
$color_15: #4a4a4a;
$color_16: var(--off-black);
$color_17: #595959;
$color_18: #1e1e1e;
$color_19: var(--green);
$color_20: #00bdd6;
$color_21: var(--white);
$color_22: var(--accent-yellow);
$color_23: var(--light-grey);
$color_24: #8f8f8f;
$color_25: #a6a6a6;
$color_26: var(--red);
$color_27: rgba(0, 0, 0, 0.88);
$color_28: #5a5a5a;
$color_29: #1a1b1f;
$color_30: rgba(26, 27, 31, 0.75);
$color_31: #3a56bd;
$color_32: #a8a8a8;
$font-family_1: sans-serif;
$font-family_2: monospace;
$font-family_3: webflow-icons;
$font-family_4: Arial, sans-serif;
$font-family_5: inherit;
$font-family_6: serif;
$font-family_7: Helvetica Neue, Helvetica, Ubuntu, Segoe UI, Verdana,
	sans-serif;
$font-family_8: Inter, sans-serif;
$font-family_9: Noto Serif, sans-serif;
$background-color_1: transparent;
$background-color_2: #fff;
$background-color_3: #3898ec;
$background-color_4: #ddd;
$background-color_5: #ffdede;
$background-color_6: #eee;
$background-color_7: #f3f3f3;
$background-color_8: #fafafa;
$background-color_9: rgba(34, 34, 34, 0.4);
$background-color_10: #222;
$background-color_11: rgba(255, 255, 255, 0.4);
$background-color_12: #c8c8c8;
$background-color_13: #fbf2e3;
$background-color_14: var(--light-blue);
$background-color_15: #f9f9f9;
$background-color_16: #fcfcfc;
$background-color_17: #fdfdfd;
$background-color_18: #ffead8;
$background-color_19: rgba(52, 146, 127, 0.59);
$background-color_20: rgba(44, 139, 139, 0.42);
$background-color_21: #8bb4ac;
$background-color_22: var(--transparent);
$background-color_23: var(--blue-accent);
$background-color_24: #e6e6e6;
$background-color_25: #e6eafd;
$background-color_26: var(--light-grey);
$background-color_27: var(--accent-yellow);
$background-color_28: #fbfbfd;
$background-color_29: #f6f6f6;
$background-color_30: var(--white);
$background-color_31: var(--red);
$background-color_32: rgba(139, 180, 172, 0.74);
$background-color_33: #f0f0f0;
$background-color_34: var(--green);
$background-color_35: rgba(255, 192, 150, 0.65);
$background-color_36: rgba(150, 255, 213, 0.78);
$background-color_37: #000;
$background-color_38: #f5f7fa;
$background-color_39: #e4ebf3;
$background-color_40: #f3e1d2;
$background-color_41: rgba(243, 225, 210, 0.35);
$background-color_42: #dbdbdb;
$border-color_1: #3898ec;
$border-color_2: rgba(117, 134, 150, 0) #5d6c7b rgba(117, 134, 150, 0)
	rgba(117, 134, 150, 0);
$border-color_3: rgba(255, 255, 255, 0) #fff rgba(255, 255, 255, 0)
	rgba(255, 255, 255, 0);
$border-color_4: #5d6c7b rgba(117, 134, 150, 0) rgba(117, 134, 150, 0);
$border-color_5: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
$border-color_6: #fff #fff var(--light-grey);
$border-color_7: var(--blue-accent);
$border-color_8: black black var(--light-grey);
$border-color_9: black black var(--blue-accent);
$border-color_10: black var(--black) black black;
$border-color_11: var(--red) black;
$border-color_12: var(--red);
$border-top-color_1: var(--blue-accent);
$border-top-color_2: var(--light-grey);
$border-right-color_1: var(--light-grey);
$border-right-color_2: var(--black);
$border-right-color_3: var(--red);
$border-bottom-color_1: #fff;
$border-bottom-color_2: #757575;
$border-bottom-color_3: var(--light-grey);
$border-bottom-color_4: var(--off-black);
$border-bottom-color_5: var(--blue-accent);
$border-left-color_1: var(--light-grey);

:root {
	--primary-color: #076261;
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

[class*='\ w-icon-'] {
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	font-family: webflow-icons !important;
}

.w-container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.w-container:before,
.w-container:after {
	content: ' ';
	grid-area: 1/1/2/2;
	display: table;
}

.w-container:after {
	clear: both;
}

@media screen and (max-width: 991px) {
	.w-container {
		max-width: 728px;
	}
}

@media screen and (max-width: 479px) {
	.w-container {
		max-width: none;
	}
}

:root {
	--primary-color: #3a56bd;
	--black: #1e1e1e;
	--medium-light-grey: #757575;
	--off-black: #565656;
	--light-grey: #dbdbdb;
	--light-blue: #dee3f4;
	--green: #076261;
	--white: white;
	--transparent: transparent;
	--accent-yellow: #ffba32;
	--small: 0.889rem;
	--medium-light-blue: #9dabde;
	--red: #a44;
	--home-page: #1e1e1e;
	--2-281: 2.281rem;
	--bright-blue: #0b99ff;
	--white-2: white;
	--black-2: black;
}

.w-layout-hflex {
	flex-direction: row;
	align-items: flex-start;
	display: flex;
}

.w-layout-blockcontainer {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.w-layout-vflex {
	flex-direction: column;
	align-items: flex-start;
	display: flex;
}

@media screen and (max-width: 991px) {
	.w-layout-blockcontainer {
		max-width: 728px;
	}
}

@media screen and (max-width: 767px) {
	.w-layout-blockcontainer {
		max-width: none;
	}
}

.section-title {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	color: var(--blue-accent);
	-webkit-text-stroke-color: var(--blue-accent);
	text-transform: uppercase;
	flex-direction: column;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Inter, sans-serif;
	font-size: 2.281rem;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	display: flex;
}

.heading-3 {
	align-self: flex-start;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Inter, sans-serif;
	font-size: 1.266rem;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
}

.grid {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	object-fit: fill;
	border: 0 solid #000;
	border-top-style: dotted;
	border-bottom-color: #757575;
	flex: 0 auto;
	order: 0;
	grid-template-rows: 66fr;
	grid-template-columns: 1fr 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	align-content: space-between;
	justify-content: space-between;
	align-self: auto;
	align-items: stretch;
	justify-items: stretch;
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0%;
	padding-right: 0%;
	display: grid;
	position: relative;
}

.grid._2-columns {
	grid-column-gap: 64px;
	grid-row-gap: 64px;
	grid-template-columns: 1.5fr 1fr;
	align-items: center;
	display: flex;
}

.section {
	grid-row-gap: 80px;
	border-bottom: 1px solid var(--light-grey);
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	max-width: none;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 18px;
	display: block;
}

.section.no-border {
	border-bottom-width: 0;
	align-self: stretch;
	width: 100%;
}

.container {
	grid-column-gap: 0px;
	grid-row-gap: 80px;
	border-style: solid;
	border-width: 0;
	border-color: #fff #fff var(--light-grey);
	color: var(--medium-light-grey);
	background-color: #fff;
	flex-flow: column;
	flex: 1;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	grid-auto-columns: 1fr;
	align-content: center;
	justify-content: stretch;
	align-self: auto;
	align-items: center;
	justify-items: start;
	width: 100%;
	max-width: none;
	height: auto;
	padding: 80px 0;
	display: flex;
}

.container.margin-bottom-0 {
	padding-top: 80px;
	padding-bottom: 0;
}

.container.grey {
	background-color: #fafafa;
	border-bottom-width: 0;
	padding: 80px 0;
}

.container.blue {
	background-color: var(--light-blue);
}

.container.padding-40px {
	background-color: #f9f9f9;
	align-items: center;
	width: 99%;
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
}

.container.padding-40px.light-grey {
	background-color: #fcfcfc;
}

.container.margin-40px {
	padding-top: 40px;
	padding-bottom: 40px;
}

.container.light-grey {
	background-color: #fdfdfd;
}

.container._100vh {
	height: auto;
}

.hero-stack {
	-webkit-text-fill-color: inherit;
	background-color: rgba(52, 146, 127, 0.59);
	background-clip: content-box;
	border-bottom: 1px solid #e4ebf3;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	min-height: 60vh;
	max-height: 50vh;
	padding: 0;
	display: flex;
	position: relative;
}

.container-3 {
	width: 100%;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.hero-wrapper-two {
	text-align: center;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 940vw;
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	display: flex;
}

.margin-bottom-24px {
	margin-bottom: 24px;
}

.div-block-8 {
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	flex-direction: column;
	justify-content: flex-start;
	align-self: auto;
	display: flex;
}

.quote-block {
	border-left: 4px solid #000;
	padding-left: 24px;
}

.quote-block.user-interviews {
	background-color: #fafafa;
	border-right: 0 solid #000;
	flex: 0 auto;
	align-self: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 24px;
	font-size: 16px;
	display: flex;
}

.quote-block.user-interviews.margin-bottom-16px {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	flex-direction: column;
	margin-bottom: 0;
}

.quote-block.user-interviews.sample {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	flex-direction: column;
	padding-top: 0;
}

.paragraph {
	color: var(--off-black);
	letter-spacing: 0;
	text-transform: none;
	word-break: normal;
	overflow-wrap: break-word;
	object-fit: fill;
	flex: 0 auto;
	align-self: stretch;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Inter, sans-serif;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-decoration: none;
}

.paragraph._1-rem {
	color: var(--green);
	margin-bottom: 0;
	font-family: Noto Serif, sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

.paragraph.margin-bottom-0 {
	color: var(--off-black);
	margin-bottom: 0;
}

.paragraph.margin-bottom-0.height-24px {
	color: var(--off-black);
	font-size: 1.266rem;
}

.paragraph.light {
	color: var(--medium-light-grey);
}

.paragraph.blue {
	aspect-ratio: auto;
	color: var(--blue-accent);
	object-fit: fill;
	flex: 1;
	display: block;
}

.paragraph._1-125-rem {
	color: var(--medium-light-grey);
	font-size: 1.125rem;
	font-weight: 400;
}

.paragraph.route-features {
	color: var(--off-black);
	flex: 0 auto;
	margin-bottom: 0;
	font-size: 1.125rem;
	font-weight: 400;
}

.paragraph.medium._24px {
	line-height: 24px;
}

.paragraph.medium._24px.blue {
	align-self: flex-start;
}

.paragraph.text-align-center {
	text-align: left;
	align-self: center;
}

.paragraph._0889 {
	font-size: 0.889rem;
}

.paragraph._0-79-rem {
	font-size: 0.79rem;
}

.paragraph.grey {
	color: var(--medium-light-grey);
}

.main-heading {
	color: var(--black);
	text-transform: none;
	word-break: normal;
	flex: 1;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Inter, sans-serif;
	font-size: 2.027rem;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
}

.main-heading.sub {
	color: var(--blue-accent);
	text-transform: capitalize;
	flex: 0 auto;
	align-self: auto;
	margin-bottom: 0;
	font-size: 1.602rem;
	position: -webkit-sticky;
	position: sticky;
}

.div-block-15 {
	padding: 0%;
}

.content.low-fidelity {
	grid-column-gap: 96px;
	grid-row-gap: 96px;
}

.div-block-21 {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	flex-direction: column;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	grid-auto-columns: 1fr;
	padding-top: 24px;
	display: flex;
}

.heading-secondarytext {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	flex-direction: column;
	flex: 0 auto;
	align-self: stretch;
	width: 100%;
	padding-bottom: 0;
	display: flex;
}

.tastebuds {
	color: var(--black);
	-webkit-text-stroke-color: var(--black);
	margin-top: 0;
	font-family: Inter, sans-serif;
	font-size: 3rem;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
}

.div-block-25 {
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	flex-direction: column;
	grid-template-rows: auto;
	grid-template-columns: 0.5fr 0.5fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	justify-content: space-between;
	margin-top: 0;
	padding-bottom: 0;
	display: flex;
}

.subtitle {
	font-size: 1.424rem;
	font-style: normal;
	line-height: 125%;
}

.subtitle.tagline {
	color: var(--black);
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.602rem;
	font-weight: 400;
	line-height: 150%;
}

.image-13 {
	aspect-ratio: auto;
	background-color: var(--transparent);
	border-radius: 10px;
	width: 100%;
	max-width: 48px;
	max-height: 48px;
}

.div-block-26 {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	flex-flow: wrap;
	justify-content: center;
	align-self: auto;
	align-items: center;
	width: 112px;
	padding-top: 0;
	display: flex;
}

.heading-17 {
	color: var(--medium-light-grey);
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.266rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.heading-18 {
	color: #4a4a4a;
	margin-top: 0;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 125%;
}

.heading-18.quotes {
	-webkit-text-stroke-color: var(--black);
	margin-bottom: 0;
	font-size: 1.266rem;
	font-style: italic;
	font-weight: 400;
	line-height: 150%;
}

.quote {
	color: var(--off-black);
	letter-spacing: 0.2px;
	column-count: 0;
	overflow-wrap: normal;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Noto Serif, sans-serif;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
}

.quote._100 {
	letter-spacing: 0.25px;
	width: 100%;
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.delights-and-painpoints {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	flex-flow: row;
	align-content: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	align-items: center;
	margin-bottom: 0;
	font-style: normal;
	display: flex;
}

.flex.horizontal {
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	flex-flow: row;
	flex: 1;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	max-width: none;
}

.flex.horizontal._16px {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}

.flex.horizontal._24-px {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	flex: 0 auto;
	justify-content: space-between;
	align-self: auto;
	display: flex;
}

.flex.horizontal._40-px {
	grid-column-gap: 48px;
	grid-row-gap: 48px;
	justify-content: space-between;
	width: 100%;
	max-width: none;
}

.flex.horizontal._64-px {
	grid-column-gap: 64px;
	grid-row-gap: 64px;
}

.flex.column-gap-8px {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	align-self: stretch;
	width: 100%;
	max-width: none;
}

.flex.vertical {
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	flex-direction: column;
	flex: 0 auto;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	max-width: none;
	padding-left: 0%;
	padding-right: 0%;
	display: flex;
}

.flex.vertical._16px {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	flex-flow: column;
	display: flex;
}

.flex.vertical._16px.space-between {
	flex: 0 auto;
	justify-content: space-between;
	width: auto;
}

.flex.vertical._16px.grow {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	flex: 1;
	justify-content: flex-start;
	align-self: stretch;
	width: 100%;
	max-width: 1000px;
}

.flex.vertical._4px {
	grid-column-gap: 4px;
	grid-row-gap: 4px;
	flex-flow: column wrap;
	flex: 1;
	align-self: stretch;
	align-items: stretch;
	width: 100%;
}

.flex.vertical.sketches-02 {
	grid-column-gap: 32px;
	grid-row-gap: 32px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
}

.flex.vertical._24-px {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	background-color: var(--transparent);
	border-radius: 15px;
	flex: 0 auto;
	justify-content: space-between;
	align-self: stretch;
	margin-top: 0;
	padding: 0;
	display: flex;
}

.flex.vertical._24-px.margin-0 {
	background-color: var(--transparent);
	flex-wrap: nowrap;
	flex: 1;
	align-items: flex-start;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.flex.vertical._24-px.margin-0.shrink {
	flex: 0 auto;
}

.flex.vertical._24-px.shrink {
	flex: 0 auto;
	width: 50%;
}

.flex.vertical._24-px.align-left.stretch {
	align-self: stretch;
}

.flex.vertical._16px {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	flex: 1;
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	width: auto;
}

.flex.vertical._16px.align-top {
	align-self: flex-start;
}

.flex.vertical._16px.align-top._50 {
	min-width: 0%;
}

.flex.vertical.align-left {
	align-items: flex-start;
}

.flex.vertical.width-auto {
	flex: 0 auto;
	align-items: center;
	width: auto;
	min-width: 112px;
	max-width: 112px;
}

.flex.vertical._50 {
	flex: 0 auto;
	width: 100%;
}

.flex.gap-24px {
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	flex-flow: row;
	grid-template-rows: auto;
	grid-template-columns: 0.5fr 1fr;
	grid-auto-columns: 1fr;
	justify-content: space-between;
	align-items: flex-start;
	display: flex;
}

.flex.gap-24px.margin-bottom-24px {
	align-items: flex-start;
	padding-bottom: 40px;
}

.flex.border-bottom {
	border-bottom: 1px solid #000;
	width: 100%;
	max-width: none;
}

._25 {
	flex: none;
	width: 23.5%;
}

.heading-with-divider {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	border-bottom: 0.5px solid #000;
	flex-direction: column;
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 8px;
	display: block;
}

.div-block-74 {
	align-self: stretch;
	align-items: flex-start;
	min-width: auto;
	height: auto;
	min-height: 30.375px;
	display: flex;
}

.h5 {
	color: var(--black);
	text-transform: none;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.266rem;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
}

.h5.blue {
	color: var(--blue-accent);
	font-weight: 600;
	line-height: 150%;
}

.italic-text {
	color: var(--off-black);
	font-weight: 400;
}

.title {
	grid-column-gap: 32px;
	grid-row-gap: 32px;
	flex-direction: column;
	align-self: flex-start;
	align-items: flex-start;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.title-label {
	color: var(--medium-light-grey);
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.266rem;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
}

.cards {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	background-color: transparent;
	flex-direction: column;
	flex: 1;
	order: 0;
	align-self: stretch;
	min-width: 10%;
	max-width: 100%;
	padding: 0 40px 40px;
	display: flex;
}

.cards.horizontal {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	border-bottom: 0px solid var(--light-grey);
	flex-flow: wrap;
	align-self: auto;
	align-items: center;
	width: 100%;
	min-width: 0%;
	max-width: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0%;
}

.cards.horizontal.border-0 {
	border-bottom-width: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.cards.left {
	padding-top: 0;
	padding-left: 0;
}

.cards.right {
	padding-right: 0;
}

.cards.site-map {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	min-width: 15%;
	padding: 0;
}

.cards.site-map.first-child {
	padding-left: 0;
}

.flex-block-12 {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
}

.img-sketches {
	max-width: 100%;
}

.img-sketch {
	border: 0px solid var(--light-grey);
	flex: 0 auto;
	align-self: flex-start;
	width: 30%;
	max-width: none;
	position: static;
	top: 0%;
	bottom: auto;
	left: 0%;
	right: auto;
}

.img-sketch._25 {
	flex: 0 auto;
	align-self: center;
	width: 25%;
}

.flex-block-14 {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	flex-direction: column;
	flex: 0 auto;
	align-self: stretch;
	align-items: flex-start;
}

.sketches-02 {
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	flex-direction: column;
	display: flex;
}

.diner-stories {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	background-color: var(--light-blue);
	flex-direction: column;
	min-width: 30%;
	padding: 40px;
	display: flex;
}

.design-hypothesis {
	color: var(--off-black);
	letter-spacing: 1.5px;
	font-weight: 500;
}

.medium-blue {
	color: var(--blue-accent);
	font-weight: 500;
}

.flex-block-15 {
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	background-color: transparent;
	border-radius: 10px;
	flex: 1;
	justify-content: space-between;
	align-self: stretch;
	align-items: center;
	min-width: 0;
	max-width: none;
	margin-left: auto;
	margin-right: auto;
}

.image-80px-middle {
	align-self: center;
	max-width: 60px;
}

.div-block-89 {
	flex: 1;
	display: flex;
}

.div-block-90 {
	text-align: center;
	border-radius: 0;
	order: -1;
	align-self: center;
}

.flex-block-16 {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	flex: 1;
}

.user-persona-bio {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	flex-direction: column;
	grid-template-rows: auto;
	grid-template-columns: 0.25fr 1fr;
	grid-auto-columns: 1fr;
	padding-top: 16px;
	padding-bottom: 16px;
	display: flex;
}

.flex-block-18 {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}

.image-41,
.image-42 {
	width: 85%;
	max-width: none;
}

.flex-block-19,
.flex-block-20 {
	justify-content: center;
}

._100 {
	align-self: flex-start;
	max-width: 100%;
	max-height: 450px;
}

.image-45 {
	width: 40px;
	max-width: none;
	display: block;
}

.div-block-97 {
	align-self: center;
	align-items: center;
	width: 40px;
	display: block;
}

.div-block-101 {
	grid-column-gap: 80px;
	grid-row-gap: 80px;
	justify-content: space-between;
	align-items: stretch;
	display: flex;
}

.div-block-102 {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	flex-direction: row;
	order: 0;
	justify-content: space-between;
	width: auto;
	max-width: 40%;
	display: flex;
}

.div-block-103 {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	flex-direction: row;
	width: 100%;
	display: flex;
}

.primary-buttons {
	flex: 1;
	width: 100%;
	max-width: none;
}

.flex-block-24 {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	justify-content: space-between;
	align-self: stretch;
	width: 70%;
}

.flex-block-25 {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	justify-content: space-between;
	align-self: stretch;
	align-items: center;
}

.div-block-105 {
	width: 65%;
}

.div-block-106 {
	flex: 0 auto;
	align-items: center;
	width: 50%;
	display: flex;
}

.div-block-107 {
	align-items: center;
	width: 50%;
	display: flex;
}

.typography {
	justify-content: space-between;
	display: flex;
}

.typescale-column-1 {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	flex-direction: column;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	grid-auto-columns: 1fr;
	align-self: auto;
	width: 30%;
	display: grid;
}

._1-125-rem {
	font-size: 1.125rem;
}

.div-block-108 {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	flex-direction: column;
	width: 25%;
	display: flex;
}

.div-block-109 {
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	align-self: auto;
	width: 100%;
	display: flex;
}

.image-48 {
	width: 100%;
	max-width: 100%;
}

.img-100,
.image-100 {
	width: 100%;
	max-width: none;
}

.div-block-110 {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	display: flex;
}

.small-secondary-button {
	width: auto;
	height: 19px;
}

.image-101 {
	max-width: none;
	height: 100%;
}

.image-102 {
	max-width: 650px;
}

.div-block-113 {
	text-align: center;
}

.div-block-115,
.div-block-116 {
	flex: 1;
}

.screenshot {
	grid-column-gap: 24px;
	grid-row-gap: 0px;
	flex: 0 auto;
	align-items: stretch;
	max-width: 100%;
	display: block;
}

.vertical-line {
	border: 0.5px solid var(--light-grey);
	width: 0;
}

.img-screenshot {
	width: auto;
	display: block;
}

.container-s {
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	background-color: var(--transparent);
	align-self: stretch;
	align-items: stretch;
	width: 100%;
	max-width: 1000px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0;
}

.stretch {
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	flex-direction: column;
	align-items: stretch;
	display: block;
}

.div-block-130 {
	flex: 1;
}

.div-block-132 {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	flex: 0 auto;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 0.5fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: column dense;
	justify-content: flex-start;
	width: 100%;
	max-width: 1000px;
	display: flex;
}

.flex-block-28 {
	grid-column-gap: 80px;
	flex: 0 auto;
	justify-content: space-between;
}

.padding-left-8px {
	padding-left: 8px;
}

.padding-left-8px.grey {
	color: var(--medium-light-grey);
}

.image-109 {
	flex: 0 auto;
	max-width: none;
	max-height: 200px;
}

.competitor-analysis-screenshots {
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	flex-direction: column-reverse;
	flex: 1;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-columns: 1fr;
	justify-content: space-between;
	align-self: stretch;
	align-items: center;
	width: auto;
	max-height: none;
	display: flex;
}

.flex-block-32 {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	border-right: 0px solid var(--light-grey);
	align-items: center;
	padding-left: 0;
	padding-right: 0;
}

.flex-block-32.left {
	border-right-width: 0;
	align-items: center;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.flex-block-33 {
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	flex-direction: row;
	align-items: center;
	padding: 0 0% 0 0;
}

.image-111 {
	border-radius: 5px;
	max-width: 64px;
}

.div-block-140 {
	width: 100%;
}

.div-block-142 {
	border-right: 1px dashed var(--blue-accent);
	flex: 0 auto;
	align-self: stretch;
	width: 1px;
	height: 100%;
}

.image-112 {
	flex: 0 auto;
	max-width: 100%;
}

.vertical-divider {
	border-right: 8px solid var(--white);
	align-self: stretch;
	width: 1px;
}

.vertical-divider.grey {
	border-right-width: 0;
	border-right-color: var(--light-grey);
	background-color: var(--light-grey);
}

.vertical-divider.black {
	border-right-width: 1px;
	border-right-color: var(--black);
	margin-top: 40px;
	margin-bottom: 40px;
}

.flex-block-38 {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	flex: 1;
}

.div-block-145 {
	flex: 0 auto;
	align-self: auto;
	width: 30%;
}

.div-block-149 {
	align-self: center;
}

.quotes {
	justify-content: flex-start;
	width: 100%;
	display: block;
}

.div-block-151 {
	align-self: flex-start;
	align-items: center;
	height: 32px;
	display: flex;
}

.div-block-152 {
	background-color: var(--light-blue);
}

.testing-outcomes-content {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	background-color: var(--transparent);
	border-radius: 5px;
	flex-direction: row;
	flex: 0 auto;
	align-self: stretch;
	align-items: center;
	margin-top: 0;
	padding: 24px;
}

.testing-outcomes-content.padding-0 {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.image-113 {
	flex: 0 auto;
	max-width: none;
	max-height: 410px;
}

.div-block-154 {
	justify-content: center;
	display: flex;
}

.text-block-5 {
	text-transform: uppercase;
	font-size: 1.125rem;
	font-weight: 500;
}

.div-block-155 {
	flex: 1;
}

.div-block-156 {
	flex: 0 auto;
}

.bold-text-25 {
	font-weight: 400;
}

.image-115 {
	max-width: 600px;
	display: inline-block;
}

.div-block-159 {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	justify-content: flex-start;
	display: flex;
}

.image-118 {
	align-self: flex-start;
	max-width: 250px;
}

.flex-block-40 {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	background-color: #fafafa;
	border-radius: 15px 5px 5px;
	flex-direction: column;
	flex: 1;
	align-self: stretch;
	margin-top: -20px;
	padding-top: 40px;
}

.flex-block-40.gap-0 {
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.horizontal-divider {
	border-top: 1px dashed var(--medium-light-blue);
	flex: 0 auto;
	align-self: stretch;
	width: 100%;
	height: 1px;
	margin-left: 0;
	margin-right: 0;
}

.horizontal-divider.black-1px {
	border-top-style: solid;
	border-top-color: var(--light-grey);
	margin-left: 0;
	margin-right: 0;
}

.div-block-160 {
	background-color: var(--white);
	padding: 24px;
}

.div-block-162 {
	grid-column-gap: 80px;
	grid-row-gap: 0px;
	-webkit-text-fill-color: inherit;
	background-clip: content-box;
	flex-direction: row;
	flex: 1;
	justify-content: flex-end;
	align-items: flex-start;
	width: 500px;
	max-width: 500px;
	max-height: 100%;
	padding-top: 5%;
	padding-left: 0;
	display: flex;
	overflow: hidden;
}

.image-120 {
	flex: 0 auto;
	align-self: flex-end;
	width: 50%;
	max-width: none;
}

.div-block-166 {
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-self: stretch;
	align-items: center;
	height: auto;
	padding-top: 24px;
	padding-bottom: 0;
	display: flex;
}

.div-block-167 {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	max-width: none;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.link-block {
	width: auto;
	height: auto;
	text-decoration: none;
}

.link-block.arrow {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: flex;
}

.div-block-169 {
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	max-width: none;
	display: flex;
}

.heading-20 {
	font-size: 2.625rem;
	line-height: 125%;
}

.heading-20.black {
	color: var(--black);
}

#w-node-e67192e6-09a3-0e34-7b98-85f4bbd6aa75-6d157316 {
	align-self: stretch;
}

#w-node-_51c92b77-c812-a7b8-1602-e103a4b00f80-6d157316 {
	align-self: center;
}

#w-node-_8832951d-8088-90e4-b87e-4cc874b1d9db-6d157316 {
	align-self: start;
	justify-self: stretch;
}

#w-node-_22510c64-092d-3d89-8867-807d802dfd03-6d157316 {
	align-self: center;
}

#w-node-_2a7a8b7b-2922-7f04-f5ae-acd4df988412-6d157316,
#w-node-c40c807c-1c2b-cfe5-e49a-e8048c64ecb4-6d157316 {
	grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8555f80c-7ccd-1de0-279f-e81350cdcfe4-6d157316 {
	justify-self: center;
}

#w-node-_8555f80c-7ccd-1de0-279f-e81350cdcff8-6d157316 {
	align-self: center;
}

#w-node-_8555f80c-7ccd-1de0-279f-e81350cdcfde-6d157316 {
	grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8555f80c-7ccd-1de0-279f-e81350cdcfee-6d157316 {
	align-self: center;
}

#w-node-e7ef6588-4de8-2865-f58d-067c9057096e-6d157316,
#w-node-_44624cfb-c52f-7ac3-f740-b6fb4fe7cf34-6d157316,
#w-node-_7cfd8726-6e62-709c-cb3a-bb8ecb82bc3b-6d157316,
#w-node-_1dfb9795-1c51-56da-c45c-1b4424510dfc-6d157316 {
	grid-area: span 1 / span 1 / span 1 / span 1;
}
