.route-2-low-fidelity-all_grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	gap: 1rem;
	max-width: 55rem;
	margin: auto;
	margin-bottom: 1.5rem;

	img {
		border-radius: 0.5rem;
		border: 1px solid $off-black;
	}
}

.r2-lowfi-design-evolution_grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr auto 1fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		'a . . b .'
		'c d e f g';
	align-items: center;
	column-gap: 0.75rem;
	margin: auto;
	max-width: $content-max-width;

	.lowfi-design-evolution_heading-01 {
		grid-area: a;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}

	.lowfi-design-evolution_heading-02 {
		grid-area: b;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}

	.img-1 {
		grid-area: c;
	}

	.img-2 {
		grid-area: d;
	}

	.img-arrow {
		grid-area: e;
		width: 2.5rem;
	}

	.img-3 {
		grid-area: f;
		border: 1px solid $black;
	}

	.img-4 {
		grid-area: g;
		border: 1px solid $black;
	}
}
