.accordion {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 1rem 1.25rem;
  border: 0;
  color: white; // This ensures all text inside the accordion has a default white color
  margin-top: 0.5rem;

  .accordionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #1f1f1f;

    p {
      display: flex;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 130%;
      text-align: left;
      margin: 0;
      flex: 1;
      color: white; 
    }

    .accordion-icon {
      transition: transform 0.4s;
      width: 1.5rem;
      height: 1.5rem;
      margin: auto;
    }
  }

  .accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      color: white; // Make sure this is not being overridden elsewhere
      text-align: left;
    }
  }
}

.ic-arrowDown--lined {
  content: url(/assets/svg/ic-arrowDown_lined--black.svg);
}

.rotate {
  transform: rotate(-180deg);
}
