
.carousel- {
  &container {
    flex-direction: row;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: $content-max-width;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  &items {
    cursor: default;
    width: 100%;
    position: relative;
  }
  &item {
    border: 0 solid #c00;
    float: left;
    max-width: $content-max-width;
  }
}
