.card {
    gap: 2.5rem;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    background-color: $lightest-grey;
    margin-bottom: 6rem;
    border-radius: 1rem;
    height: fit-content;
    overflow: hidden;
}