@import "../abstracts/all-abstracts";

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: $content-max-width;
  width: 90%;
  margin: auto;
  align-items: left;

  &.medium {
    max-width: 1000px;
  }

  &.large {
    max-width: 1200px;
  }

  &.xl {
    max-width: 1400px;
  }
}

header {
  display: block;
  max-width: $content-max-width;
  width: 90%;
  margin: auto;

  img {
    max-width: 32rem;
    width: 100%;
  }
}

.full-width {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $lightest-grey;
  margin: 2rem 0;
  width: 100vw;
  padding: 4rem 0;

  .content-wrapper {
    div {
      margin: auto;
    }
  }


  .img-user-journey {
    width: 90%;
    max-width: 1000px;
  }

  &.transparent {
    background-color: transparent;
  }
}

section.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
  width: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    gap: 2rem;
    max-width: $content-max-width;
    width: 90%;
    margin: auto;

  }
  
  .subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 100vw;
    gap: 2rem;


    // Nested states and modifiers
    &.detail {
      align-self: stretch;
      flex: 1;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      width: 100%;

      // Size-specific gap modifiers
      &._16-px-gap {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        width: auto;
      }
      &._40px {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
      }
      &._24-px {
        grid-row-gap: 24px;
      }
      &._60 {
        align-self: stretch;
        border-right: 1px solid $light-grey;
        color: #8f8f8f;
        flex: 0 auto;
        justify-content: flex-start;
        padding: 40px 40px 40px 0;

        &.justify-middle {
          border-right-width: 0;
          justify-content: center;
        }
      }
      &.margin-0 {
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        width: 100%;

        &.gap-16px {
          grid-column-gap: 16px;
          grid-row-gap: 16px;
          max-width: 900px;
          width: 100%;
        }
        &._8-px {
          align-self: center;
          grid-column-gap: 16px;
          grid-row-gap: 16px;
        }
        &.reference {
          border-left: 5px solid $medium-light-grey;
          color: $off-black;
          padding-left: 24px;
        }
      }
      &._95 {
        max-width: 960px;
        width: 90%;
        
      }
      &.last-child {
        background-color: transparent;
        max-width: 900px;
      }
    }

    &.first-child {
      border-color: black black $light-grey;
      font-size: 1.125rem;
      padding-bottom: 40px;
      position: relative;
    }

    &.last-child {
      border-bottom-width: 0;
      padding: 40px 0 0;
    }

    &.no-border {
      border-bottom-width: 0;
      padding-bottom: 0;

      &.margin-bottom-0 {
        padding-bottom: 0;
      }
    }

    &.padding-64-px {
      padding: 64px 0;

      &.border {
        border-bottom-width: 0;
        max-width: 1000px;
      }
    }

    &.grey {
      background-color: #fcfcfc;

      &.padding-40px {
        padding: 0 40px;
      }
    }

    &.heading {
      padding-bottom: 16px;
    }
  }

  &.lightest-grey {
    background-color: $lightest-grey;
  }

  &.border {
    border-bottom: 1px solid $light-grey;
  }
}

.subheader {
  color: $medium-grey;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 125%;
  text-transform: uppercase;
  margin: 0;

}

.full-background {
  background-color: $light-blue;
  padding: 64px 10%;
}

.full-background.white {
  background-color: var(--transparent);
}

.content.container {
  max-width: $content-max-width;
  width: 90%;
}

.prototype-walkthrough {
  div {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    gap: 2.5rem;
    align-items: center;

    div {
      display: block;
    }
  }
}

img {
  width: 100%;
}