@import "../abstracts/all-abstracts";

// Overview section
.section-overview {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  padding: 2rem 0;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-self: stretch;
    width: 90%;
    max-width: 1000px;

    .project-details-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 2rem;

      .project-details-list {
        p {
          color: #1e1e1e;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 125%;
          margin-bottom: 0.25rem;
        }

        ul {
          padding: 0;
          li {
            font-family: $main-font;
            color: $light-grey;
            font-size: 1rem;
            font-weight: 400;
            line-height: 135%;
            text-decoration: none;
            list-style-type: none;
            margin: 0;
          }
        }
      }

      .tools-flex-container {
        display: flex;
        flex-direction: row;
        width: fit-content;
        gap: 0.5rem;

        .tool-logo-wrapper {
          display: flex;
          flex-direction: column;
          margin: auto;
          padding: 0.5rem;
          justify-content: center;
          align-items: center;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 0.625rem;

          &.figma-app,
          &.canva-app,
          &.miro-app,
          &.whiteBG {
            background: #2e3139; // default background
            box-shadow: $fixed-shadow;
            border-radius: 10px;

            &.miro-app {
              background: #ffd12b;
            }

            &.whiteBG {
              background: #fff;
            }
          }

          img {
            width: 2.5rem;
            height: auto;
          }
        }
      }
    }

    .project-title {
      font-family: $main-font;
      color: var(--black);
      font-size: 2.66rem;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.144px;
      margin-bottom: 1rem;
    }

    .project-tagline,
    .tags-wrapper {
      align-self: center;
      color: $light-grey;
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 135%;
    }

    .tags-wrapper {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      overflow-x: auto;
      white-space: nowrap;
      cursor: pointer;

      .project-tag {
        display: flex;
        height: 2rem;
        padding: 0rem 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        border-radius: 0.3125rem;
        background: $background-gray;

        &.postup {
          background: #daede9;
          color: #388e7d;
        }
      }
    }

    .scrollable {
      overflow-y: auto;
      scrollbar-width: none;
      -ms-text-overflow: none;
      text-overflow: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    button.scroll-arrow {
      display: block;
      background-color: transparent;
      margin: auto;
      width: 3rem;
      height: 3rem;
      border: none;
      font-size: 24px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        stroke: $light-grey;
        transform: scale(1.1);
      }
    }
  }

  @include breakpoint(med) {
    width: 100%;
    padding: 4rem 0 1rem 0;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 0 auto;

      .project-title {
        flex: auto;
        color: var(--black);
        font-size: 2.66rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.144px;
        margin-bottom: 1rem;
      }

      .project-tagline {
        align-self: center;
        color: $medium-grey;
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 135%;
      }

      .scrollable {
        overflow-y: auto;
        scrollbar-width: none;
        -ms-text-overflow: none;
        text-overflow: none;

        ::-webkit-scrollbar {
          display: none;
        }
      }

      .tags-wrapper {
        display: flex;
        gap: 0.5rem;
        overflow-x: auto; // Enables horizontal scrolling
        cursor: pointer;
        margin-bottom: 1rem;
        flex-wrap: wrap;

        .project-tag {
          display: flex;
          height: 2rem;
          padding: 0rem 0.5rem;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 0.5rem;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 1.3125rem */
          border-radius: 0.3125rem;
          background: rgba(219, 219, 219, 0.5);

          &.postup {
            background: #daede9;
            color: #388e7d;
          }
        }

        &#boardspaceTags {
          .project-tag {
            background: #daede9;
            color: #388e7d;
          }
        }
      }

      .project-details-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .grid-item {
          display: flex;
          flex: auto;
          flex-direction: row;
          justify-content: space-between;

          .project-details-list {
            flex: 1;
            p {
              color: $black;
              font-size: 1rem;
              font-style: normal;
              font-weight: 500;
              line-height: 125%;
              margin-bottom: 0.25rem;
            }

            ul {
              padding: 0;
              margin-bottom: 8px;

              li {
                font-family: "Inter", sans-serif;
                color: $medium-grey;
                font-size: 1rem;
                font-weight: 400;
                line-height: 135%;
                text-decoration: none;
                list-style-type: none;
                margin: 0;
              }
            }

            &.project-tools {
              flex: 0 0 auto;
            }

            .tools-flex-container {
              width: fit-content;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 0.5rem;

              .tool-logo-wrapper {
                display: flex;
                margin: auto;
                margin-bottom: 0.75rem;
                padding: 0.5rem;
                justify-content: center;
                align-items: center;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 0.625rem;

                img {
                  width: 2.5rem;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: $content-max-width;
  width: 90%;
  margin: auto;
  align-items: left;

  &.medium {
    max-width: 1000px;
  }

  &.large {
    max-width: 1200px;
  }

  &.xl {
    max-width: 1400px;
  }
}

header {
  display: block;
  max-width: $content-max-width;
  width: 90%;

  img {
    max-width: 32rem;
    width: 100%;
  }
}

.full-width {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $lightest-grey;
  margin: 2rem 0;
  text-align: center;
  width: 100vw;
  padding: 4rem 0;


  .img-user-journey {
    width: 90%;
    max-width: 1000px;
  }

  &.transparent {
    background-color: transparent;
  }
}

section.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
  width: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    gap: 2rem;
    max-width: $content-max-width;
    width: 90%;
    margin: auto;

  }
  
  .subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    width: 100vw;
    gap: 2rem;


    // Nested states and modifiers
    &.detail {
      align-self: stretch;
      flex: 1;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      width: 100%;

      // Size-specific gap modifiers
      &._16-px-gap {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        width: auto;
      }
      &._40px {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
      }
      &._24-px {
        grid-row-gap: 24px;
      }
      &._60 {
        align-self: stretch;
        border-right: 1px solid $light-grey;
        color: #8f8f8f;
        flex: 0 auto;
        justify-content: flex-start;
        padding: 40px 40px 40px 0;

        &.justify-middle {
          border-right-width: 0;
          justify-content: center;
        }
      }
      &.margin-0 {
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        width: 100%;

        &.gap-16px {
          grid-column-gap: 16px;
          grid-row-gap: 16px;
          max-width: 900px;
          width: 100%;
        }
        &._8-px {
          align-self: center;
          grid-column-gap: 16px;
          grid-row-gap: 16px;
        }
        &.reference {
          border-left: 5px solid $medium-light-grey;
          color: $off-black;
          padding-left: 24px;
        }
      }
      &._95 {
        max-width: 960px;
        width: 90%;
        
      }
      &.last-child {
        background-color: transparent;
        max-width: 900px;
      }
    }

    &.first-child {
      border-color: black black $light-grey;
      font-size: 1.125rem;
      padding-bottom: 40px;
      position: relative;
    }

    &.last-child {
      border-bottom-width: 0;
      padding: 40px 0 0;
    }

    &.no-border {
      border-bottom-width: 0;
      padding-bottom: 0;

      &.margin-bottom-0 {
        padding-bottom: 0;
      }
    }

    &.padding-64-px {
      padding: 64px 0;

      &.border {
        border-bottom-width: 0;
        max-width: 1000px;
      }
    }

    &.grey {
      background-color: #fcfcfc;

      &.padding-40px {
        padding: 0 40px;
      }
    }

    &.heading {
      padding-bottom: 16px;
    }
  }

  &.lightest-grey {
    background-color: $lightest-grey;
  }

  &.border {
    border-bottom: 1px solid $light-grey;
  }
}

.subheader {
  color: $medium-grey;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 125%;
  text-transform: uppercase;
  margin: 0;

}

.full-background {
  background-color: var(--light-blue);
  padding: 64px 10%;
}

.full-background.white {
  background-color: var(--transparent);
}

.content.container {
  max-width: $content-max-width;
  width: 90%;
}

.prototype-walkthrough {
  div {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    gap: 2.5rem;
    align-items: center;

    div {
      display: block;
    }
  }
}

img {
  width: 100%;
}