

.hero {
  width: 100vw;
  height: 60vh;
  overflow: hidden;

  &.heroBG-postup {
    background-color: #8cb4ac;
  }

  &.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    margin: auto;
    width: 100%;

    .img-wrapper {
      justify-content: flex-end;
      align-items: center;
      padding: auto;
      overflow: hidden;
      margin: auto;

      .hero-gif {
        width: 75vw;
        max-width: 20.5rem;
        margin: auto 0;
      }
    }
  }

  &#tastebuds-heroBG {
    background-color: rgba(255, 220, 147, 0.75);
  }

  @include breakpoint(med) {
    padding-top: 4rem;
    width: 100vw;
    height: 50vh;

    .wrapper {
      gap: 2rem;
      height: 100%;
      margin: auto;

      .hero-gif-wrapper {
        justify-content: flex-end;
        align-items: center;
        padding: auto;
        overflow: hidden;
        margin: auto;
        width: 20%;
        margin: 0 auto;
      }
    }
  }
}