$primary-color: #1e1e1e;

@import "abstracts/all-abstracts";

@import "base/all-base";

@import "utilities/all-utilities";

@import "../components/global-components";

@import "../components/home-components";

.noto-serif {
	color: $black;
	font-family: "Noto Serif", serif;
	font-size: 1.125rem;
	font-weight: 350;
	line-height: 160%; // 28.8px
}

// Typography
p {
	color: $black;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 1.6875rem */
	text-align: left;
	margin-top: 0;
	margin-bottom: 1.125rem;
	color: $off-black;
	align-self: stretch;
	text-align: left;

	@include breakpoint("mobile-lg") {
		font-size: 1.125rem;
		margin-bottom: 1.125rem;
	}
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Inter", sans-serif;
	text-align: left;
	margin: 4rem 0 0 0;
	width: 100vw;
	overflow-x: hidden;
	scrollbar-width: none;
	background-color: white;
}

section {
	padding: 2.5rem 0;
	background-color: white;

	.wrapper {
		margin: auto;
	}
}

.section-heading {
	color: $black;
	font-family: Inter;
	font-size: 2.8rem;
	font-style: normal;
	font-weight: 600;
	line-height: 110%; /* 4.18rem */
	letter-spacing: -0.1rem;
	margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: "Inter", sans-serif;
	color: $black;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

p {
	line-height: 145%;
}

h1 {
	color: var(--Colors-Off-Black, #1e1e1e);
	font-family: Inter;
	font-size: 1.625rem;
	font-style: normal;
	font-weight: 600;
	line-height: 125%; /* 2.03125rem */
	letter-spacing: -0.01625rem;
}

h2 {
	font-family: "Inter" sans-serif;
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 600;
	line-height: 110%; /* 1.925rem */
	letter-spacing: -0.0525rem;
}

// Font weight
.fw-normal {
	font-weight: 400;
}

.fw-medium {
	font-weight: 500;
}

.fw-bold {
	font-weight: 600;
}

.hide {
	display: none;
}

.height-auto {
	height: auto;
}

.width-auto {
	width: auto;
}

// Padding and margins
.margin-0 {
	margin: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-8px {
	margin-bottom: 1rem;
}

.mt-0 {
	margin-top: 0;
}

.mt-0 {
	margin-top: 0;
}

.padding-0 {
	padding: 0;
}

.padding-1rem {
	padding: 1rem;
}

.padding-1_5rem {
	padding: 1.5rem;
}

.pl-1rem {
	padding-left: 1.5rem;
}

//--vertical padding
.pd-v {
	&-xs {
		padding: 0.5rem 0;
	}

	&-sm {
		padding: 1rem 0;
	}

	&-med {
		padding: 1.5rem 0;
	}

	&-lg {
		padding: 2rem 0;
	}

	&-xl {
		padding: 2.5;
	}
}

.pd-v- {
	padding: 1.5rem 0;
}

/* Colors */
.white {
	color: #ffffff;
}

.off-black {
	color: #1e1e1e;
}

.bg_off-black {
	background: #1e1e1e;
}

.center {
	justify-content: center;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-self: stretch;
	flex-wrap: nowrap;
}

@mixin flex-row($gap) {
	display: flex;
	flex-direction: row;
	gap: $gap;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

@mixin flex-col($gap) {
	display: flex;
	flex-direction: column;
	gap: $gap;
}

// Spacing
.gap-8px {
	gap: 8px;
}

.gap-16px {
	gap: 16px;
}

.gap-24px {
	gap: 24px;
}

.gap-40px {
	gap: 40px;
}

.gap-0 {
	gap: 0;
}

// Alignment
.items-center {
	align-items: center;
}

.align-items-left {
	align-items: left;
}

.align-items-right {
	align-items: right;
}

.center {
	align-items: center;
	justify-content: center;
}

.text-center {
	text-align: center;
}

.self-stretch {
	align-self: stretch;
}

// Flexbox styles
.flex {
	display: flex;
}

.flex-row {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	align-items: center;
}

.flex-column {
	display: flex;
	position: relative;
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

.flex-wrap {
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	flex-wrap: wrap;
	gap: 8px;
}

.flex-grow {
	flex: 1;
	flex-grow: 1;
	display: flex;
	align-items: center;
	position: relative;
}

.items-center {
	align-items: center;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

button {
	display: flex;
	height: 2.5rem;
	padding: 0.625rem 1.25rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	border: 0;
	border-radius: 25px;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	background-color: transparent;
}

.btn {
	button {
		display: flex;
		height: 2.5rem;
		padding: 0.625rem 1.25rem;
		gap: 1rem;
		border: 0;
		border-radius: 1.5625rem; // Note: You might want to ensure this matches the .btn styles if intended
		text-align: center;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
		background-color: transparent;
	}

	&-primary {
		font-weight: 600;
		background-color: #000; // Assuming $black is defined elsewhere in your styles
		color: $white;
	}

	&-secondary {
		border: 1.5px solid $black;
		color: $black;
		font-weight: 500;
	}
}

.hero-mobile-only {
	z-index: -1;
	position: fixed;
	top: 4rem;
	bottom: 0;
	width: 100vw;
	height: 45vh; // Fixed height
	padding: 0;
	margin: 0;
	overflow: hidden;

	.image-wrapper {
		position: relative;
		width: 90vw; // Takes the full width of the container
		margin: 0 auto;
		height: 45vh; // Fixed height
		border-radius: 3px;
		overflow: hidden;
		background-image: url(../assets/images/michelle-portrait-bw.png);
		background-position: bottom;
		background-size: cover;

		.hero-bg-mobile {
			bottom: 0;
		}
	}
}

.wrapper {
	margin-top: 45vh;
	overflow: hidden;
}

// Hero section
.hero {
	display: flex;
	background: white;
	border-bottom: 1px solid #dbdbdb;
	padding: 0;
	padding-bottom: 2rem;

	.wrapper {
		display: flex;
		flex-direction: column;
		width: 100vw;
		margin: auto;
		align-items: center;

		.heroContent {
			background-color: white;
			padding-top: 1rem;

			.wrapper {
				width: 90vw;

				.textWrapper {
					display: flex;
					align-items: flex-start;
					flex-direction: column;

					.hero-position {
						font-size: 1.25rem;
						margin-bottom: 0.5rem;
					}

					.highlighted-text {
						font-size: 1.625rem; // Adjusted for typical h1 size
						line-height: 1.2; // Tighter line height for header

						span {
							padding: 0.1rem 0.6rem; // Adjust padding to better fit larger text
							background-repeat: no-repeat;
							background-size: 100% 100%; // Ensures the SVG background scales correctly
							color: black; // Ensures text color contrasts with background

							&.product-designer {
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 287 29' fill='none'%3E%3Cpath d='M10.347 1.493C10.66 0.754 11.385 0.274 12.188 0.274H284.54c1.433 0 2.401 1.461 1.842 2.78l-10.169 24H2.02C0.587 28.274-0.381 26.812 0.178 25.493L10.347 1.493Z' fill='%237DFFE7'/%3E%3C/svg%3E");
							}

							&.frontend-developer {
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 287 29' fill='none'%3E%3Cpath d='M10.347 1.493C10.66 0.754 11.385 0.274 12.188 0.274H284.54c1.433 0 2.401 1.461 1.842 2.78l-10.169 24H2.02C0.587 28.274-0.381 26.812 0.178 25.493L10.347 1.493Z' fill='%23FCFF67'/%3E%3C/svg%3E");
							}
						}
					}

					#workAndLocation {
						margin-bottom: 1rem;
					}
					#tagline {
						color: #888888;
						font-family: Inter;
						font-size: 1.25rem;
						font-style: normal;
						font-weight: 500;
						-webkit-text-stroke-width: 0.25px;
						-webkit-text-stroke-color: #888888;
						line-height: 130%; /* 1.5rem */
						margin-bottom: 1rem;
					}

					#michelleHu {
						color: #1e1e1e;
						font-weight: 700;
					}

					#betterTheWorld {
						color: var(--emphasis-blue, #4479df);
						font-weight: 700;
					}

					#availableForWork {
						padding-left: 4px;
						color: #1e1e1e;
						font-size: 0.875rem;
						font-style: normal;
						font-weight: 500;
						line-height: 135%; /* 1.1375rem */
					}

					#basedInLA {
						color: #888;
						font-family: Inter;
						font-size: 0.875rem;
						font-style: normal;
						font-weight: 500;
						line-height: 135%; /* 1.1375rem */
					}
				}

				#heroButtons,
				.wrapper {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					gap: 1.25rem;
					align-self: stretch;

					> div:first-child {
						@include flex-row(0.5rem);
						align-items: center;
						align-self: stretch;
					}

					> div:last-child {
						@include flex-row(1rem);
						button {
							padding: 0;
						}
					}
				}
				.iconButton button {
					display: flex;
					border-radius: 5px;
					width: 2rem;
					height: 2rem;
					fill: #1e1e1e;
					box-shadow: 1.5px 1.5px 4px 0px rgba(255, 255, 255, 0.15) inset;
					overflow: hidden;
				}
			}
		}
	}
	@include breakpoint(med) {
		.wrapper {
			height: 50vh;
			flex-direction: row-reverse;

			#heroBG {
				z-index: auto;
			}

			.heroContent {
				z-index: auto;
				margin-top: 0;
			}
		}
	}

	/* About Hero Buttons */

	.ic-menu {
		background-image: url(../assets/svg/home/ic-menu.svg);
	}

	.img-logo {
		background-image: url(../assets/images/logo-michelle-hu.png);
	}
}

// Projects

#projects {
	.wrapper {
		display: block;
		width: 90vw;
		margin: auto;

		.projectCard {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin-bottom: 2rem;

			.number-label {
				color: #a0a0a0;
				font-family: Inter;
				font-size: 2.44rem;
				font-style: normal;
				font-weight: 500;
				line-height: 80%; /* 4.2rem */
				margin-bottom: 1.5rem;
			}

			.project-gif-wrapper {
				text-align: center; /* Center the content horizontally */
				display: flex;
				width: 100%;
				aspect-ratio: 5 / 4;
				max-height: 31.25rem;
				padding-top: 2.5rem;
				justify-content: center;
				align-items: flex-start;
				overflow: hidden;
				margin: auto;
				border-radius: 3px;

				&#postupBG {
					background-color: #8bb4ac;
				}

				.project-gif-container {
					display: block; /* Allow the container to take only the width of its content */
					position: relative;
					width: 65%;
					height: auto;
					overflow: hidden;
					margin: auto;

					.project-gif {
						width: 80%;
						height: auto;
						display: none; /* Initially hide the GIF */
						margin: auto;
					}

					.project-static-img {
						width: 80%;
						margin: auto;

						&#boardspace-img {
							width: 10rem;
						}
					}
				}
			}

			.details-wrapper {
				display: block;
				padding: 1.5rem 0rem;
				width: 100%;

				.text-wrapper {
					display: block;
					margin-bottom: 1rem;

					.subheader-project {
						color: $medium-grey;
						font-family: "IBM Plex Mono";
						font-size: 1rem;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						letter-spacing: 0.05rem;
						text-transform: uppercase;
						margin-bottom: 0.5rem;
					}

					h3 {
						color: #000;
						font-family: Inter;
						font-size: 1.5rem;
						font-style: normal;
						font-weight: 600;
						line-height: 121%; /* 1.815rem */
						letter-spacing: -0.01rem;
						margin-bottom: 0.5rem;
					}

					.project-description {
						color: $dark-grey;
						font-family: Inter;
						font-size: 1rem;
						font-style: normal;
						font-weight: 500;
						line-height: 135%; /* 1.35rem */
					}
				}
				.tags-wrapper {
					display: flex;
					flex-direction: row;
					gap: 0.5rem;
					overflow-x: auto; // Enables horizontal scrolling
					white-space: nowrap;
					cursor: pointer;

					.project-tag {
						display: flex;
						height: 2rem;
						padding: 0rem 0.5rem;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						gap: 0.5rem;
						font-size: 0.875rem;
						font-style: normal;
						font-weight: 500;
						line-height: 150%; /* 1.3125rem */
						border-radius: 0.3125rem;
						background: rgba(219, 219, 219, 0.5);
					}

					&#boardspaceTags {
						.project-tag {
							background: #daede9;
							color: #388e7d;
						}
					}

					&#tastebudsTags {
						background: #daede9;
						color: #388e7d;
					}
				}
			}
		}
	}
	@include breakpoint(lg) {
		.number-label {
			font-size: 5.25rem;
		}
	}
}

/*-----Here's a little about me-----*/

// About me

#aboutMe {
	background-color: #f8f8f8; // Example background color

	.wrapper {
		width: 90vw;
		max-width: 40rem;
	}

	.image-wrapper {
		width: 100%; // Ensures the container takes up the full width of its parent
		overflow: hidden; // Prevents any overflow (optional based on your design needs)
		margin-bottom: 2rem;
		border-radius: 1px;

		img {
			display: block; // Removes any space below the image
			width: 100%; // Makes the image take up 100% of the container's width
			height: auto; // Maintains the image's aspect ratio initially
			aspect-ratio: 1 / 1; // Ensures the image remains square
		}
	}

	h2 {
		margin-bottom: 0.5rem;
	}

	p {
		color: $off-black;
		font-family: "Inter";
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: 145%; /* 1.18125rem */
	}

	#aboutMe-details {
		margin-top: 2.5rem;

		.grid-container {
			display: grid;
			grid-template-columns: auto 1fr; /* First column fixed at 200px, second column takes the rest */
			grid-template-rows: auto; /* Automatic row sizing based on content */
			column-gap: 1.5rem;
			row-gap: 0.25rem;
			margin-bottom: 1.5rem;

			&:last-child {
				margin-bottom: 0;
			}

			.grid-item-01 {
				display: flex;
				grid-column: 1 / 2; /* Occupies the first column */
				grid-row: 1 / 3; /* Spans across two rows in the first column */
				align-items: center;
				justify-content: center;
				img {
					width: 1.5rem;
					height: 1.5rem;
					fill: #1e1e1e;
				}
			}

			.grid-item-02 {
				grid-column: 2 / 3; /* Occupies the second column */
				grid-row: 1 / 2; /* Occupies the first row in the second column */
				color: $medium-grey;
				font-family: Inter;
				font-size: 0.6875rem;
				font-style: normal;
				font-weight: 600;
				line-height: 100%; /* 0.6875rem */
				letter-spacing: 0.04125rem;
				text-transform: uppercase;
			}

			.grid-item-03 {
				grid-column: 2 / 3; /* Occupies the second column */
				grid-row: 2 / 3; /* Occupies the second row in the second column */
				color: #1e1e1e;
				font-family: Inter;
				font-size: 1rem;
				font-style: normal;
				font-weight: 500;
				line-height: 125%; /* 1.09375rem */
			}
		}
	}
}

#toolbox {
	flex-direction: column;
	align-items: center;
	background: #000000;
	justify-content: center;
	align-items: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	.wrapper {
		align-items: center;
		max-width: 90vw;

		.contentWrapper {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			align-items: center;
			justify-content: center;

			@include breakpoint(med) {
				flex-direction: row;
				align-items: start;
				justify-content: center;
				gap: 1rem;
			}

			#figma {
				background: #2e3139;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.03) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
			}

			#miro {
				background: #ffd12b;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.25) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
			}

			#webflow {
				background: #136df5;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.25) inset,
					-2px -2px 6px 0px rgba(49, 49, 49, 0.25), 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
			}

			#procreate {
				background: #242424;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 3px 0px rgba(255, 255, 255, 0.1) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
			}

			#adobe {
				background: #001e36;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 3px 0px rgba(255, 255, 255, 0.1) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);

				img {
					width: 2rem;
				}
			}

			#adobeXD {
				background: #470137;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 3px 0px rgba(255, 255, 255, 0.1) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);

				img {
					width: 2.25rem;
				}
			}

			#github {
				background: #242424;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 3px 0px rgba(255, 255, 255, 0.1) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
			}

			// Mobile-view
			.tools-swipe {
				.swiper,
				.my {
					margin-bottom: 1rem;
					border-radius: 0.3125rem;
					background: rgba(255, 255, 255, 0.15);
					height: fit-content;
					width: 95vw;
					max-width: 24rem;

					#github {
						background: #242424;
						box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 3px 0px rgba(255, 255, 255, 0.1) inset,
							-1px -1px 6px 0px rgba(49, 49, 49, 0.15), 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
					}

					.swiper-wrapper {
						.swiper-slide {
							display: grid;
							grid-template-columns: repeat(5, 1fr);
							column-gap: 0.75rem;
							padding: 1rem;
							width: auto;
							background: transparent;
							text-align: center;
							justify-content: center;
							align-items: center;
							margin-bottom: 1.25rem;
							font-size: 1rem;

							@include breakpoint(med) {
								grid-template-columns: repeat(2, 1fr);
								grid-template-rows: repeat(2, 1fr);
							}

							.grid-item {
								display: flex;
								flex-direction: column;
								align-items: center;
								color: #fff;
								text-align: center;

								p {
									font-family: "Inter" sans-serif;
									font-size: 0.75rem;
									font-style: normal;
									font-weight: 500;
									line-height: 135%; /* 1.0125rem */
									margin: auto;
									text-wrap: nowrap;
								}

								> div:first-child {
									display: flex;
									margin-bottom: 0.75rem;
									padding: 0.5rem;
									justify-content: center;
									align-items: center;
									width: 3.5rem;
									height: 3.5rem;
									border-radius: 0.625rem;

									img {
										width: auto;
										height: 2.5rem;
									}

									img,
									.height-auto {
										width: 2.5rem;
										height: auto;
									}
								}

								@include breakpoint(med) {
									width: 3.5rem;
								}
							}

							.swiper-slide img {
								display: block;
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}

					.swiper-pagination {
						margin-bottom: 0.25rem;

						.swiper-pagination-bullet {
							display: inline-block;
							width: 8px;
							height: 8px;
							background-color: #ccc;
							border-radius: 50%;
							margin: 0 4px;
							transition: background-color 0.3s, transform 0.3s;
						}

						.swiper-pagination-bullet-active {
							fill: #000;
							width: 8px;
							height: 8px;
						}
					}
				}
			}

			.tools-grid-container {
				display: none;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: auto;
				width: 344px;
				gap: 1rem;
				margin: auto;
				margin-bottom: 1rem;
				padding: 1.5rem 2rem;
				border-radius: 0.3125rem;
				background: rgba(255, 255, 255, 0.15);

				.grid-item {
					color: #fff;
					text-align: center;
					font-family: "Inter" sans-serif;
					font-style: normal;
					font-weight: 500;
					line-height: 135%; /* 1.0125rem */

					p {
						margin: 0;
						text-align: center;
						margin: auto;
						font-size: 12px;
					}

					> div:first-child {
						display: flex;
						margin: auto;
						margin-bottom: 0.75rem;
						padding: 0.5rem;
						justify-content: center;
						align-items: center;
						width: 3.5rem;
						height: 3.5rem;
						border-radius: 0.625rem;

						img {
							width: 2.5rem;
							height: auto;
						}

						#logoHeight {
							width: auto;
							height: 2.5rem;
						}

						@include breakpoint(med) {
							width: 4rem;
							height: 4rem;
							padding: 0.75rem;

							img {
								width: 2.75rem;
							}

							#logoHeight {
								width: auto;
								height: 2.75rem;
							}
						}
					}

					#whiteBG {
						background: #fff;
						box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.05) inset,
							-1px -1px 6px 0px rgba(49, 49, 49, 0.25), 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
					}
				}
			}

			.desktop-only,
			.tools-grid-container {
				display: none;
				p {
					display: none;
				}
			}

			@include breakpoint(med) {
				.tools-grid-container {
					display: grid;
				}

				#design-tools {
					display: grid;
				}

				.tools-swipe {
					display: none;
				}
			}

			#projectmgmt {
				.tools-grid-container {
					display: grid;
					width: fit-content;
					gap: 0.6rem;
					padding: 1.25rem;
					grid-template-columns: repeat(2, 1fr);

					p {
						display: block;
					}

					.grid-item {
						margin-bottom: 0;
					}

					@include breakpoint(med) {
						grid-template-rows: repeat(2, 1fr);
					}
				}
			}
		}
	}

	h2 {
		color: white;
		text-align: center;
		margin-bottom: 1.5rem;
	}

	p {
		color: #fff;
		text-align: center;
		font-family: Inter;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 500;
		line-height: 125%;
		margin: auto;
	}

	// Wraps the tool containers only
	#devTools,
	.swiper-slide {
		.grid-item {
			> div:first-child {
				background-color: white;
				box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.25) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.05) inset,
					-1px -1px 6px 0px rgba(49, 49, 49, 0.25), 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
			}
		}
	}
}

// FAQs
#faqs {
	h2 {
		margin-bottom: 1.5rem;
	}

	.wrapper {
		width: 90vw;
		max-width: 42rem;
	}
}

.ic-arrowDown--lined {
	background-image: url(../assets/svg/ic-chevron-arrow__down--black.svg);
}

#hmu {
	display: none;
	background: #000;
	padding-left: 0;
	padding-right: 0;

	@include breakpoint(med) {
		display: block;
	}

	h2 {
		color: white;
		margin-bottom: 1.5rem;
	}

	.hmu-wrapper {
		margin: auto;
		width: fit-content;
		max-width: 90vw;
		margin: 2rem auto;
		margin: auto;
		padding: 0;

		h2 {
			display: block;
			color: white;
			margin-bottom: 1.5rem;
			width: fit-content;
		}

		.interest-grid-container {
			display: grid;
			align-self: center;
			margin: auto;
			width: fit-content;
			grid-template-columns: auto;
			grid-template-rows: repeat(6, 1fr);
			row-gap: 1rem;
			column-gap: 1rem;

			@include breakpoint(sm) {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 1fr);
			}

			.interest-card {
				display: flex;
				max-width: 22rem;
				padding: 0.75rem;
				flex-direction: column;
				align-items: flex-start;
				gap: 0.5rem;
				border-radius: 0.1875rem;
				background: #f1efe6;

				.content-wrapper {
					display: flex;
					justify-self: stretch;
					padding: 1.25rem 1rem;
					flex-direction: column;
					align-items: flex-start;
					gap: 0.5rem;
					align-self: stretch;
					border-radius: 0.1875rem;
					border: 2px solid #cc4d4d;
					height: 100%;

					.emoji {
						font-size: 2rem;
						margin-top: -0.5rem;
						margin-bottom: 0.5rem;
					}

					.headline {
						color: #c64848;
						font-family: "Inria Sans";
						font-size: 2rem;
						font-style: normal;
						font-weight: 700;
						line-height: 110%; /* 2.2rem */
					}
					.body {
						color: #b01c00;
						font-family: "Inria Sans";
						font-size: 1rem;
						font-style: normal;
						font-weight: 400;
						line-height: 125%; /* 1.25rem */
						letter-spacing: 0.02rem;
					}
					a {
						display: block;
						color: #479cff;
						font-family: Inter;
						font-size: 0.875rem;
						font-style: normal;
						font-weight: 600;
						line-height: 130%;
						text-decoration: none;
					}
				}
			}
		}
	}
}

// Old design black boring cards -yawns-
#hmu-swiper-old,
.swiper {
	width: 85vw;
	height: 220px;

	.swiper-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0rem 1.5rem;
		font-size: 22px;
		font-weight: bold;
		color: #fff;
		border-radius: 2px;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), #000;

		transition: transform 1s ease;

		.emoji {
			font-size: 2rem;
			margin-top: -0.5rem;
			margin-bottom: 0.5rem;
		}

		.headline {
			font-size: 1.25rem;
			font-weight: 600;
			line-height: 110%; /* 1.375rem */
			letter-spacing: -0.0375rem;
			color: white;
			margin-bottom: 0.5rem;
		}
		.body {
			color: #fff;
			font-family: Inter;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 500;
			line-height: 130%; /* 1.1375rem */
			margin-bottom: 0;
		}
		a {
			display: block;
			color: #479cff;
			font-family: Inter;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 500;
			line-height: 130%;
		}
	}
}

// New design!
#hmu-swiper {
	background-color: #000;

	@include breakpoint(med) {
		display: none;
	}

	.wrapper {
		margin: auto;
		width: 90vw;
		padding: 0;
		max-width: 34rem;

		h2 {
			display: block;
			color: white;
			margin-bottom: 1.5rem;
			width: fit-content;
		}

		.swiper {
			margin: auto;
			height: fit-content;

			.swiper-slide {
				display: flex;
				max-width: 20rem;
				padding: 0.75rem;
				flex-direction: column;
				align-items: flex-start;
				gap: 0.5rem;
				border-radius: 0.1875rem;
				background: #f1efe6;

				transition: transform 1s ease;

				.content-wrapper {
					display: flex;
					padding: 1.25rem 1rem;
					flex-direction: column;
					align-items: flex-start;
					gap: 0.5rem;
					align-self: stretch;
					border-radius: 0.1875rem;
					border: 2px solid #cc4d4d;

					.emoji {
						font-size: 2rem;
						margin-top: -0.5rem;
						margin-bottom: 0.5rem;
					}

					.headline {
						color: #c64848;
						font-family: "Inria Sans";
						font-size: 2rem;
						font-style: normal;
						font-weight: 700;
						line-height: 110%; /* 2.2rem */
					}
					.body {
						color: #b01c00;
						font-family: "Inria Sans";
						font-size: 1rem;
						font-style: normal;
						font-weight: 400;
						line-height: 125%; /* 1.25rem */
						letter-spacing: 0.02rem;
					}
					a {
						display: block;
						color: #479cff;
						font-family: Inter;
						font-size: 0.875rem;
						font-style: normal;
						font-weight: 500;
						line-height: 130%;
					}
				}
			}
		}
	}
}

#resetSwiper {
	color: white;
}

footer {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	padding: 1.5rem;
	.content {
		width: 90vw;
		h2 {
			margin-bottom: 0.5rem;
		}
		#footer-text {
			color: #444;
			font-family: Inter;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
	}
	#yoursTruly {
		color: var(--emphasis-blue, #4479df);
		font-family: "IBM Plex Mono";
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 1.3125rem */
		letter-spacing: 0.04375rem;
		margin-bottom: 0.5rem;
	}
	#copyright-text {
		color: var(--dark-grey, #565656);
		font-family: Inter;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 500;
		line-height: 135%; /* 1.18125rem */
		letter-spacing: -0.02625rem;
	}
}
