$primary-color: #4379df;
$light-blue: #dee3f4;
$bg-grey: #f0f0f0;
$wireframe-max-height: 40rem;

@import 'abstracts/all-abstracts';

@import 'base/all-bases';

@import 'sections/all-sections';

@import 'components/all-components';

@import 'tastebuds/all-tastebuds';

@import 'utilities/all-utilities';

@import 'tastebuds/sketches';

.header-container.tastebuds {
	margin-bottom: 1rem;
}