$primary-color: #4379df;
$light-blue: #dee3f4;
$bg-grey: #f0f0f0;
$wireframe-max-height: 40rem;

.bg-grey {
	background-color: $bg-grey;
}

@import "abstracts/all-abstracts";

@import "base/all-base";

@import "sections/all-sections";

@import "../components/project-components";

@import "../components/global-components";

@import "tastebuds/all-tastebuds";

@import "utilities/all-utilities";

@import "tastebuds/sketches";

.header-container.tastebuds {
	margin-bottom: 1rem;
}
