.prototype-walkthrough {
    div {
      display: grid;
      grid-template-columns: 1fr 1.5fr 1.5fr;
      gap: 2.5rem;
      align-items: center;
  
      div {
        display: block;
      }
    }
  }
// Thursday design checklist {
.design-checklist {
  @include flex-row;
  align-items: flex-start;
  gap: 2rem;
  > div:first-child {
    flex: calc(40% - 1rem);
  }
  > div:last-child {
    flex: calc(60% - 1rem);

    img {
      width: 100%;
    }
  }
}