// Wednesday
.postup-full-storyboard {
  margin-bottom: 2rem;
}

.storyboarding-content {
  display: block;
  max-width: $content-max-width;
  width: 90vw;
  margin: auto;
  align-items: left;
  margin-top: 1.5rem;
}