
//Media breakpoints
$breakpoints: (
  mobile-sm: 320px,
  mobile-med: 375px,
  mobile-lg: 425px,
  sm: 576px,
  med: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin breakpoint($name) {
  @if map-has-key($breakpoints, $name) {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint: #{$name}. Please use one of: #{map-keys($breakpoints)}.";
  }
}

@mixin iconSize($size) {
  @if $size == "xs" {
    width: 24px;
    height: 24px;
  } @else if $size == "sm" {
    width: 32px;
    height: 32px;
  } @else if $size == "med" {
    width: 40px;
    height: 40px;
  } @else if $size == "lg" {
    width: 56px;
    height: 56px;
  } @else if $size == "xl" {
    width: 64px;
    height: 64px;
  }
}
