
@import 'breakpoints';

$outline-stroke: 1.25px;
$container-width: 90%;
$container-maxWidth: 936px;
$teal: #45b5aa;
$yellow: #f0c05a;
$red-orange: #e2583e;
$tan: #decdbd;
$dark-grey: #565656;
$off-black: #4a4a4a;
$emphasis-blue: #4479df;
$medium-grey: #757575;
$lightest-grey: #f9f9f9;
$invalid-red: #dc1d25;
$medium-light-grey: #dbdbdb;
$light-grey: #f0f0f0;
$light-blue: #e7ecff;
$black: #1e1e1e;
$sub-grey: #cfcfcf;
$emphasis: #e2583e;
$white: #ffffff;
$main-font: "Inter";
$background-gray: rgba(219, 219, 219, 0.5);
$primary-bg: #ffdc93;

// Tools app shadow
$fixed-shadow: -1px -1px 2px rgba(49, 49, 49, 0.05), 
  1px 1px 2px rgba(0, 0, 0, 0.50), inset -1px -1px 3px rgba(0, 0, 0, 0.05),
  inset 1px 1px 2px rgba(255, 255, 255, 0.05); 
$border-style: 1px solid #e4ebf3;