$primary-color: #4379df;
$light-blue: #dee3f4;
$bg-grey: #f0f0f0;
$wireframe-max-height: 35rem;

.bg-grey {
	background-color: $bg-grey;
}

@import 'abstracts/all-abstracts';

@import 'base/all-bases';

@import 'components/all-components';

@import 'sections/all-sections';

@import 'tastebuds/all-tastebuds';

@import 'utilities/all-utilities';

@import '/all-tastebuds';

.header-container.tastebuds {
	margin-bottom: 1rem;
}
